:root{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background: #1A1A22;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input{
	transition: .2s linear;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.scroll{
	overflow: hidden;
}

.input{
	
}

.input::placeholder{

}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.title{
	font-size: 4.8rem;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}

.red{
	color: #D32F34;
}

.blue{
	color: #215FC6;
}

.bold{
	font-weight: 700;
}

.default__padding{
	padding: 8.5rem 0;
}

.img{
	width: 100%;
}

/* Header */
.header{
	padding: 1rem 0;
}

.header__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo--inner{
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 900;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.header__logo{
	width: 37px;
	margin-right: 1.4rem;
}

.header__nav{
	display: flex;
	align-items: center;
}

.header__nav--link{
	color: #AFAFAF;
	margin-right: 6rem;
	font-family: 'Poppins', sans-serif;
}

.header__nav--link:hover{
	color: #fff;
}

.header__nav--link:last-child{
	margin-right: 0;
}

.header__social{
	display: flex;
	align-items: center;
}

.header__social--link{
	width: 34px;
	height: 34px;
	border-radius: 5px;
	background: #292932;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.2rem;
}

.header__social--link:hover{
	opacity: 0.6;
}

.header__social--link:last-child{
	margin-right: 0;
}

/* Main */
.main{
	padding: 46rem 0 3rem 0;
	background: url("../img/main-bg.png") center no-repeat;
	background-size: cover;
}

.main__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__title{
	text-transform: uppercase;
	font-size: 8.2rem;
	font-weight: 900;
	color: #fff;
	text-align: center;
}

.main__subtitle{
	margin-top: 0.8rem;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.main__text{
	text-align: center;
	color: #fff;
	margin-top: 2.2rem;
	max-width: 653px;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif;
}

.main__button--inner{
	position: relative;
	margin-top: 6.4rem;
}

.main__button--inner .token__content--button{
	margin-top: 0;
}

.soldout{
	text-transform: uppercase;
	color: #FFF8DC;
	font-weight: 900;
	padding: 0.4rem 1.5rem;
	background: #D32F34;
	border-radius: 5px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: .2s linear;
}

.main__button--inner:hover .soldout{
	background: #FFF8DC;
	color: #D32F34;
}

.main__button--inner:hover .token__content--button{
	background: #D32F34;
	color: #FFF8DC;
	opacity: 1;
}

.main__partners, .main__partners2{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
}

.main__partners2{
	margin-top: 2rem;
}

.main__partner{
	margin-right: 4rem;
}

.main__partner:last-child{
	margin-right: 0;
}

/* Nfts */
.nft__carousel{
	width: 100%;
}

.nft__carousel--item{
	margin-right: 1.1rem;
}

/* Talk */
.talk__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.talk__title{
	text-align: center;
}

.talk__point--inner{
	width: 100%;
	margin-top: 5rem;
	display: grid;
	grid-gap: 20px 33px;
	grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
}

.talk__point{
	padding: 1rem 3.1rem;
	position: relative;
	display: flex;
	align-items: center;
	font-weight: 900;
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
	background: url("../img/point-inner.svg") center no-repeat;
	background-size: cover;
	height: 85px;
}

.talk__point--img{
	margin-right: 2.3rem;
}

.talk__img--inner{
	width: 100%;
	margin-top: 3.7rem;
	display: flex;
	justify-content: space-between;
}

.talk__img--top{
	width: 60%;
}

.talk__img--nfts{
	width: 35%;
}

/* Market */
.market{
	background: #282832;
	position: relative;
}

.market__img{
	position: absolute;
	pointer-events: none;
}

.market__man1{
	left: 0;
	top: 160px;
	animation: levitation 1.5s ease-in-out infinite;
}

.market__man2{
	top: 25px;
	right: 80px;
	animation: levitation 2s ease-in-out infinite;
}

.market__star1{
	top: 69px;
	left: 400px;
	animation: levitation 2.5s ease-in-out infinite;
}

.market__star2{
	top: 102px;
	right: 300px;
	animation: levitation 1.4s ease-in-out infinite;
}

.market__star3{
	bottom: 97px;
	left: 120px;
	animation: levitation 2.1s ease-in-out infinite;
}

.market__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.market__title{
	max-width: 754px;
	text-align: center;
}

.market__text{
	text-align: center;
	max-width: 867px;
	margin-top: 2.9rem;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.market__subtext{
	margin-top: 3.5rem;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 1.8rem;
	max-width: 886px;
}

/* Token */
.token__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.token__star{
	position: absolute;
	pointer-events: none;
}

.token__star1{
	top: 60px;
	left: 40px;
	animation: levitation 1.5s ease-in-out infinite;
}

.token__star2{
	right: 20px;
	top: 40px;
	animation: levitation 2.5s ease-in-out infinite;
}

.token__star3{
	bottom: -50px;
	left: 300px;
	animation: levitation 2s ease-in-out infinite;
}

.token__coin{
	display: flex;
	width: 350px;
}

.token__coin--img{
	width: 100%;
}

.token__content{
	width: 100%;
	max-width: 672px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.token__subtitle, .staling__subtitle{
	color: #fff;
	text-transform: uppercase;
	margin-top: 1.8rem;
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.token__text, .staking__text{
	margin-top: 2.4rem;
	font-size: 2rem;
	color: #D6D6D6;
}

.token__buttons{
	margin-top: 4.4rem;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	width: 481px;
}

.token__button{
	font-weight: 700;
	font-size: 1.8rem;
	color: #FFF8DC;
	text-align: center;
	padding: 2.9rem 1.5rem;
	border: 1px solid #D13034;
	border-radius: 5px;
	text-transform: uppercase;
}

.token__button.full{
	grid-column: 1/3;
}

.token__content--button{
	margin-top: 4.4rem;
	padding: 2.2rem 5.1rem;
	font-weight: 700;
	font-size: 2.4rem;
	font-family: 'Poppins', sans-serif;
	background: #FFF8DC;
	border-radius: 7px;
	text-transform: uppercase;
}

.token__content--button:hover{
	opacity: .7;
}

.join__text--button{
	margin-top: 2.5rem;
	padding: 1rem 3.5rem;
	background: #FFF8DC;
	border-radius: 5px;
	font-weight: 700;
}

/* Staking */
.staking{
	background: #282832;
}

.staking__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.staking__img--inner{
	position: relative;
	display: flex;
	width: 404px;
}

.staking__coin{
	position: absolute;
	pointer-events: none;
}

.staking__coin1{
	top: -30px;
	left: -20px;
	animation: levitation 2s ease-in-out infinite;
}

.staking__coin2{
	top: 10px;
	right: -10px;
	animation: levitation 1.5s ease-in-out infinite;
}

@keyframes levitation{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-15px);
	}
	100%{
		transform: translateY(0);
	}
}

.staking__img{
	position: relative;
}

.staking__text--inner{
	width: 100%;
	max-width: 588px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.staking__title{
	position: relative;
}

.staking__title--img{
	position: absolute;
	bottom: 0;
	left: 270px;
}

.staling__subtitle{
	max-width: 420px;
	text-transform: none;
}

.staking__button{
	padding: 2.5rem 5.8rem;
	margin-top: 5.5rem;
	font-weight: 700;
	font-size: 2.4rem;
	color: #FFF8DC;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	border: 1px solid #FFF8DC;
	border-radius: 10px;
}

.staking__button:hover{
	opacity: 0.7;
}

/* Our tokenomics */
.our{
	padding-top: 8.5rem;
}

.our__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.our__title{
	text-align: center;
	position: relative;
}

.our__content{
	margin-top: 7rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.our__img--inner{
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.our__img--circle, .our__img--stats{
	position: relative;
}

.our__img--circle{
	width: 411px;
}

.our__img--stats{
	width: 459px;
}

.our__img{
	position: absolute;
	pointer-events: none;
	z-index: -1;
}

.our__img1{
	left: -84px;
	top: -10px;
}

.our__img2{
	left: 30px;
	top: 35px;
}

.our__wrapper{
	width: 100%;
	margin-top: 7rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.our__stats--item{
	width: 100%;
	border-top: 1px solid rgba(255, 248, 220, 0.31);
	padding: 3.5rem 0;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 20px;
}

.our__stats--item:first-child{
	border-top: none;
}

.our__stats--point{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.our__stats--title{
	font-size: 4.2rem;
	font-weight: 900;
	color: #D32F34;
	line-height: 121%;
}

.our__stats--pretitle{
	margin-top: 1rem;
	color: #fff;
	font-size: 2.9rem;
	font-weight: 900;
	text-transform: uppercase;
}

.our__stats--text{
	color: #D6D6D6;
	margin-top: 2.6rem;
	font-size: 2rem;
	line-height: 190%;
}

.our__stats--point--wrapper{
	width: 100%;
	display: flex;
	align-items: center;
}

.our__stats--point--wrapper .our__stats--pretitle{
	margin-left: 2.5rem;
}

.our__stats--point--text--wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2.6rem;
	height: 80px;
	overflow-y: hidden;
	position: relative;
}

.our__stats--point--text--wrapper.active:before{
	opacity: 0;
}

.our__stats--point--text--wrapper:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, transparent, #1A1A22);
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.our__stats--point--text--wrapper.active{
	height: auto;
	overflow-y: visible;
}

.our__stats--point--text--wrapper .our__stats--text{
	margin-top: 1.4rem;
}

.our__stats--point--text--wrapper .our__stats--text:first-child{
	margin-top: 0;
}

.our__stats--point--text--show{
	margin-top: 2rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.our__see{
	font-size: 2rem;
	font-weight: 700;
	color: #215FC6;
}

.our__stats--point--text--show.active .our__text--show{
	transform: rotate(-180deg);
}

.our__text--show{
	margin-left: 0.9rem;
	transition: .2s linear;
}

/* Afisha */
.afisha__inner{
	width: 100%;
	display: flex;
}

/* News */
.news__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news__title{
	text-align: center;
}

.news__content{
	width: 100%;
	margin-top: 4rem;
	grid-gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
}

.news__item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2.3rem;
	border-radius: 10px;
	background: #292932;
	border: 2px solid transparent;
}

.news__item:hover{
	border: 2px solid #D13034;
}

.news__item--img--inner{
	width: 160px;
	height: 64px;
	display: flex;
	align-items: center;
}

.news__item--img{
	max-width: 100%;
	max-height: 100%;
}

.news__item--text{
	margin-top: 1.7rem;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 500;
	position: relative;
	max-height: 66px;
	overflow-y: hidden;
}

.news__item--text:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0), #292932);
	pointer-events: none;
}

/* Utils */
.utils__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.utils__carousel{
	width: 100%;
	margin-top: 7rem;
}

.utils__item{
	margin-right: 11.5rem;
	padding: 4rem 3rem;
	position: relative;
	display: flex!important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 387px;
	background: url("../img/token-stats-inner.svg") center no-repeat;
	background-size: cover;
}

.utils__item--star{
	position: absolute;
	pointer-events: none;
}

.utils__item--star:first-child{
	top: 40px;
	left: 40px;
}

.utils__item--star:nth-child(2){
	bottom: 40px;
	right: 40px;
}

.utils__item:last-child{
	margin-right: 0;
}

.utils__item--img{
	width: 78px;
}

.utils__item--title{
	text-align: center;
	margin-top: 3rem;
	text-transform: uppercase;
	font-size: 2.2rem;
	color: #fff;
	font-weight: 900;
}

.utils__item--text{
	text-align: center;
	margin-top: 1.5rem;
	font-size: 1.4rem;
	color: #fff;
}

.arrow{
	width: 60px;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #FFF8DC;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

path, .arrow{
	transition: .2s linear;
}

.arrow:hover{
	border: 1px solid #D13034;
}

.arrow:hover path{
	fill: #D13034;
}

.utils__title--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.carousel__arrows{
	display: flex;
	align-items: center;
}

.prev__arrow{
	margin-right: 1.5rem;
}

/* Roadmap */
.road{
	background: #282832;
	position: relative;
}

.road__man{
	position: absolute;
	pointer-events: none;
}

.road__man1{
	top: 120px;
	right: 0;
}

.road__man2{
	left: 0;
	top: 50%;
}

.road__man3{
	right: 0;
	bottom: 400px;
}

.road__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.road__title{
	text-align: center;
}

.road__content{
	width: 100%;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.road__content:before{
	content: "";
	display: block;
	width: 0px;
	height: 100%;
	border: 2px dashed #FFF8DC;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.road__item{
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.road__item:nth-child(odd){
	justify-content: flex-end;
}

.road__item:nth-child(odd) .road__item--box:before{
	left: auto;
	right: 95%;
}

.road__item--box{
	width: 100%;
	max-width: 309px;
	height: 244px;
	background: url("../img/box.png") center no-repeat;
	background-size: cover;
	position: relative;
	font-weight: 900;
	font-size: 3.6rem;
	color: #1A1A22;
	text-transform: uppercase;
	padding: 6rem 6.5rem 4rem 5.5rem;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
}

.road__item--box:before{
	content: "";
	display: block;
	width: 95%;
	height: 0;
	border: 2px dashed #FFF8DC;
	position: absolute;
	top: 50%;
	left: 95%;
	transform: translateY(-50%);
}

.road__item.lock .road__item--box{
	color: transparent;
	text-shadow: 0 0 8px #000;
	pointer-events: none;
	user-select: none;
}

.road__item--lock{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.road__item.lock .road__item--lock{
	display: block;
}

.road__item.small .road__item--box{
	font-size: 1.8rem;
}

.road__item.medium .road__item--box{
	font-size: 2.5rem;
}

.road__item--check{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
	display: none;
}

.road__item.success .road__item--check{
	display: block;
}

.road__heart{
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

/* Need */
.need__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.need__title{
	text-align: center;
}

.need__content{
	width: 100%;
	margin-top: 7rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.need__item{
	width: 380px;
	padding: 2rem 3rem;
	background: #292932;
	border-radius: 10px;
	justify-content: space-between;
	border: 2px solid transparent;
	transition: .2s linear;
	margin-right: 1.7rem;
}

.need__item:last-child{
	margin-right: 0;
}

.need__item:hover{
	border: 2px solid #D13034;
}

.need__item--box, .need__item{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.need__item--box{
	width: 100%;
}

.need__item--img--inner{
	width: 100%;
	height: 450px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.need__item--img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 2;
}

.need__item--video{
	width: 100%;
	height: 100%;
}

.need__item--title{
	color: #fff;
	text-align: center;
	margin-top: 2.3rem;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.need__item--text{
	margin-top: 1.5rem;
	color: #fff;
	font-size: 1.4rem;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.need__item--button{
	text-transform: uppercase;
	margin-top: 3rem;
	padding: 1.4rem 4.2rem;
	font-weight: 700;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	background: url("../img/button-inner.svg") center no-repeat;
	background-size: cover;
}

.need__item--button:hover{
	opacity: 0.7;
}

/* Join */
.join{
	padding: 8rem 0 3rem 0;
	background: url("../img/join-bg.png") center no-repeat;
	background-size: cover;
}

.join__inner{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.join__text--inner{
	width: 100%;
	max-width: 520px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.join__text--text{
	margin-top: 0.8rem;
	font-size: 2rem;
	color: #D6D6D6;
}

/* Faq */
.faq__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
	
}

.faq__title{
	text-align: center;
}

.faq__content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 6rem;
}

.faq__item{
	width: 100%;
	margin-top: 3rem;
	padding: 3.5rem 2.5rem;
	border-radius: 10px;
	background: #292932;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq__item:first-child{
	margin-top: 0;
}

.faq__item--text--inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.faq__item--title{
	font-size: 3rem;
	font-weight: 600;
	color: #fff;
}

.faq__item--text{
	margin-top: 1.7rem;
	font-size: 2rem;
	color: #D6D6D6;
	display: none;
}

.faq__item--text a{
	color: #D6D6D6;
}

.faq__item--open{
	background: #1A1A22;
	color: #FFF8DC;
	font-size: 3.6rem;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	width: 56px;
	height: 56px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-left: 3rem;
	transition: .2s linear;
	cursor: pointer;
}

.faq__item--open:hover{
	opacity: 0.7;
}

/* Footer */
.footer{
	padding: 6rem 0;
}

.footer__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo{
	color: #fff;
	font-size: 2rem;
	font-weight: 900;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.footer__logo--img{
	width: 69px;
	margin-right: 2rem;
}

/* Модальное меню */
.modal__menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #14121D;
	width: 50%;
	height: 100vh;
	padding: 5rem 2rem 3rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: .3s ease-in-out;
	transform: translateX(-110%);
	opacity: 0;
}

.modal__menu.active{
	opacity: 1;
	transform: translateX(0%);
}

.modal__menu--close{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	width: 35px;
}

.modal__menu--nav{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.modal__menu--nav .header__nav--link{
	margin-top: 1.5rem;
}

.modal__menu--nav .header__nav--link:first-child{
	margin-top: 0;
}

.modal__menu .header__button{
	margin-top: 1.5rem;
}

.menu{
	display: none;
	cursor: pointer;
}

/* Not found 404 */
.notfound{
	position: relative;
}

.notfound__inner{
	width: 100%;
	display: flex;
	justify-content: center;
}

.notfound__content{
	width: 100%;
	max-width: 703px;
	background: #282832;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7rem 4rem;
	position: relative;
}

.notfound__img{
	position: absolute;
	pointer-events: none;
}

.notfound__img1{
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.notfound__img2{
	right: 0;
	top: 70%;
	transform: translateY(-50%);
}

.notfound__title{
	color: #D32F34;
	font-size: 18.6rem;
	font-weight: 900;
	text-align: center;
	line-height: 100%;
}

.notfound__pretitle{
	text-align: center;
	text-transform: uppercase;
	color: #215FC6;
	font-size: 4.8rem;
	font-weight: 900;
}

.notfound__text{
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	margin-top: 1.1rem;
}

.notfound__button{
	padding: 2.2rem 3.7rem;
	margin-top: 6rem;
	text-transform: uppercase;
	background: #FFF8DC;
	border-radius: 10px;
	color: #D32F34;
	font-size: 2.4rem;
	font-weight: 700;
}

.notfound__button:hover{
	opacity: 0.7;
}

.content__star{
	position: absolute;
	pointer-events: none;
}

.content__star1{
	top: 36px;
	left: -20px;
	animation: levitation 1.5s ease-in-out infinite;
}

.content__star2{
	bottom: -20px;
	right: 71px;
	animation: levitation 2.5s ease-in-out infinite;
}

/* Responsive */
@media(max-width: 1220px){
	.container{
		max-width: 978px;
	}

	.footer{
		padding: 3rem 0;
	}

	.default__padding{
		padding: 6rem 0;
	}

	.faq__item{
		padding: 2.5rem 2rem;
	}

	.faq__item--title, .token__subtitle, .staling__subtitle{
		font-size: 2.5rem;
	}

	.faq__item--text, .token__text, .staking__text{
		font-size: 1.8rem;
	}

	.faq__item--open{
		width: 45px;
		height: 45px;
		font-size: 3rem;
	}

	.faq__content, .need__content, .utils__carousel{
		margin-top: 4rem;
	}

	.need__item--img--inner{
		height: 350px;
	}

	.need__logo--inner{
		font-size: 1.8rem;
	}

	.utils__item{
		margin-right: 6rem;
		height: 341px;
	}

	.staking__text--inner{
		max-width: 475px;
	}

	.staking__button{
		padding: 1.5rem 3rem;
		margin-top: 3rem;
		font-size: 2.1rem;
	}

	.token__content{
		max-width: 585px;
	}

	.token__content--button{
		margin-top: 3rem;
	}

	.talk__point{
		height: 69px;
		padding: 1rem 2rem;
	}

	.main{
		padding: 26rem 0 2rem 0;
	}

	.main__title{
		font-size: 7rem;
	}

	.header__nav--link{
		margin-right: 4rem;
	}

	.join__text--inner{
		max-width: 435px;
	}

	.join{
		padding: 9rem 0 4rem 0;
	}

	.road__item--box:before{
		width: 61%;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}

	.market__man1, .market__man2{
		width: 75px;
	}

	.title{
		font-size: 3.8rem;
	}

	.main__title{
		font-size: 5.5rem;
	}

	.main__subtitle{
		font-size: 2.4rem;
	}

	.main__text{
		margin-top: 1.5rem;
	}

	.main__button--inner{
		margin-top: 3rem;
	}

	.header__nav{
		display: none;
	}

	.soldout{
		width: 70%;
		text-align: center;
	}

	.main__partners, .main__partners2{
		flex-wrap: wrap;
	}

	.main__partner{
		margin: 1rem;
	}

	.talk__point{
		height: 108px;
	}

	.staking__inner{
		flex-direction: column;
		align-items: center;
	}

	.staking__text--inner{
		max-width: 100%;
		align-items: center;
	}

	.staling__subtitle, .staking__text{
		max-width: 100%;
		text-align: center;
	}

	.staking__title--img{
		display: none;
	}

	.utils__item{
		margin-right: 32rem;
	}

	.menu{
		display: block;
	}

	.join__text--inner{
		max-width: 310px;
	}

	.road__item--box:before{
		width: 23%;
	}
	
	.our{
		padding-top: 6rem;
	}

	.our__img--circle{
		width: 311px;
	}

	.our__img--stats{
		width: 350px;
	}

	.our__img2{
		left: 18px;
	}

	.our__img1{
		left: -55px;
		width: 100px;
	}

	.our__stats--pretitle{
		font-size: 2.1rem;
	}

	.our__stats--text{
		font-size: 1.8rem;
		margin-top: 1.5rem;
	}

	.notfound__img{
		width: 110px;
	}

	.notfound__title{
		font-size: 12rem;
	}

	.notfound__pretitle{
		font-size: 3.8rem;
	}

	.notfound__text{
		font-size: 2.5rem;
	}

	.notfound__button{
		font-size: 2rem;
		padding: 1.4rem 2.5rem;
		margin-top: 3rem;
	}

	.need__item{
		width: 48%;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 460px;
	}

	.main__title{
		font-size: 4rem;
	}

	.main__text, .market__text, .market__subtext, .token__text, .news__item--text,
	.faq__item--text{
		font-size: 1.6rem;
	}

	.talk__point--inner{
		grid-template-columns: 1fr;
	}

	.talk__point{
		height: 66px;
		font-size: 1.6rem;
	}

	.talk__img--inner{
		flex-direction: column;
		align-items: flex-start;
	}

	.talk__img--nfts, .talk__img--top{
		width: 100%;
	}

	.talk__img--nfts{
		margin-top: 2rem;
	}

	.market__man1, .market__man2{
		display: none;
	}

	.title{
		font-size: 3rem;
	}

	.token__inner{
		flex-direction: column-reverse;
		align-items: center;
	}

	.token__coin{
		width: 300px;
		margin-bottom: 3rem;
	}

	.token__content{
		align-items: center;
	}

	.token__title, .token__subtitle, .token__text, .staking__title{
		text-align: center;
	}

	.token__buttons{
		width: 100%;
	}

	.token__button{
		padding: 1.5rem 1rem;
	}

	.news__content{
		grid-template-columns: 1fr;
	}
	
	.utils__item{
		margin-right: 3rem;
	}

	.faq__item--title{
		font-size: 2rem;
	}

	.footer__logo--img{
		width: 40px;
		margin-right: 1rem;
	}

	.footer__logo{
		font-size: 1.6rem;
	}

	.modal__menu{
		width: 75%;
	}

	.join{
		background-position-x: -960px;
	}

	.join__text--inner{
		max-width: 80%;
	}

	.join__text--text{
		font-size: 1.6rem;
	}

	.road__item{
		margin-top: 2rem;
	}

	.road__item:nth-child(2){
		margin-top: 0;
	}

	.road__item:nth-child(odd){
		justify-content: flex-start;
	}

	.road__item:nth-child(odd) .road__item--box:before{
		right: auto;
		left: 95%;
	}

	.road__content:before{
		left: auto;
		transform: translateX(0);
		right: 45px;
	}

	.road__heart{
		left: auto;
		right: 0;
		transform: translateX(0);
	}

	.road__item--box:before{
		width: 37%;
	}

	.road__content{
		margin-top: 3rem;
	}

	.token__content--button{
		font-size: 2rem;
		padding: 1.3rem 3rem;
	}

	.main__partner{
		margin: 0.5rem;
		max-width: 80px;
	}

	.main__partners, .main__partners2{
		justify-content: space-between;
	}

	.main__partners2{
		margin-top: 1rem;
	}

	.main__partner{
		margin: 0;
	}
	
	.our__content{
		margin-top: 3rem;
	}

	.our{
		padding-top: 4rem;
	}

	.our__stats--item{
		grid-template-columns: 1fr;
		grid-gap: 40px;
	}

	.our__img--inner{
		flex-direction: column;
		align-items: center;
	}

	.our__img--stats{
		margin-top: 3rem;
	}

	.our__wrapper{
		margin-top: 4rem;
	}

	.notfound__content{
		padding: 4rem 3rem;
	}

	.notfound__title{
		font-size: 8rem;
	}

	.notfound__pretitle{
		font-size: 2.8rem;
	}

	.notfound__text{
		font-size: 2.1rem;
	}

	.notfound__button{
		font-size: 1.8rem;
	}

	.need__item{
		width: 100%;
		margin: 2rem 0rem 0rem 0;
	}

	.need__item:first-child{
		margin-top: 0;
	}
}
@media(max-width: 480px){
	.container{
		max-width: 90%;
	}

	.header__social{
		display: none;
	}

	.header__social.mobile{
		display: flex;
		margin-top: 2rem;
	}

	.title{
		font-size: 2.5rem;
	}

	.market__star1{
		left: auto;
		right: 0;
	}

	.staking__img, .staking__img--inner{
		width: 100%;
	}

	.staking__coin2{
		right: 0;
	}

	.staking__coin1{
		left: 0;
	}

	.faq__item--title, .token__subtitle, .staling__subtitle{
		font-size: 1.8rem;
	}

	.staking__text{
		font-size: 1.6rem;
	}

	.token__star3{
		left: 10px;
	}

	.default__padding{
		padding: 4rem 0;
	}

	.token__coin{
		width: 230px;
	}

	.staking__img{
		width: 85%;
	}

	.staking__img--inner{
		flex-direction: column;
		align-items: center;
	}

	.news__item--img--inner{
		width: 120px;
		height: 45px;
	}

	.arrow{
		width: 45px;
	}

	.utils__item{
		margin: 0rem 1rem;
	}

	.talk__point, .utils__item{
		border: 2px solid #FFF8DC;
		background: none;
		height: auto;
		border-radius: 10px;
	}

	.need__item{
		padding: 1.5rem 1rem;
	}

	.need__item--img--inner{
		height: 250px;
	}

	.main__title{
		font-size: 3rem;
	}

	.main__subtitle{
		font-size: 2rem;
	}

	.token__buttons{
		grid-template-columns: 1fr;
	}

	.token__button.full{
		grid-column: 1/1;
	}

	.modal__menu{
		width: 100%;
	}

	.main__partner{
		max-width: 70px;
	}

	.main{
		padding: 23rem 0 2rem 0;
	}

	.join{
		background-position-x: -990px;
	}

	.join__text--inner{
		max-width: 100%;
	}

	.road__content:before, .road__item--box:before, .road__heart{
		display: none;
	}

	.road__item, .road__item:nth-child(odd){
		justify-content: center;
	}

	.main__partners2 .main__partner{
		max-width: 50px;
		margin: 0;
	}

	.our{
		padding-top: 3rem;
	}

	.token__content--button{
		font-size: 1.8rem;
	}

	.soldout{
		font-size: 1.4rem;
		width: 50%;
	}

	.our__img--circle, .our__img--stats{
		max-width: 100%;
	}

	.our__img1{
		left: 0;
		top: -45px;
	}

	.our__stats--title{
		font-size: 3.4rem;
	}

	.our__stats--point--wrapper{
		flex-direction: column;
		align-items: flex-start;
	}

	.our__stats--point--wrapper .our__stats--pretitle{
		margin-left: 0;
	}

	.main__partner{
		max-width: 50px;
	}
}