@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --mainColor: #007cee;
  --borderColor: rgba($color: #fff, $alpha: 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

svg {
  flex-shrink: 0;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background-color: #000;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.ibg {
  position: relative;
}

.ibg>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  outline: 0;
}

textarea {
  resize: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text {
  line-height: normal;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dim {
  opacity: 0.5;
}

.main-color {
  color: var(--mainColor);
}

.bold {
  font-weight: 700;
}

.section {
  padding: 40px 0;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.label {
  background-color: rgba(81, 94, 236, 0.15);
  font-size: 12px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 13px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  max-width: 694px;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1242ff;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #6c7278;
  padding: 19px 40px;
}

.text {
  line-height: 1.5;
}

.trading__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}

.trading-card {
  width: calc(100% / 3 - (3 - 1) * 56px / 3);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.trading-card__img {
  padding-bottom: 76.545%;
}

.trading-card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trading-card__title {
  font-weight: 700;
  font-size: 24px;
}

.trading-card__label {
  font-size: 20px;
  font-weight: 500;
  color: #acb5bb;
}

.trading-card__text {
  font-weight: 500;
  color: #acb5bb;
}

.model__container {
  max-width: 1192px;
}

.model__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
}

.model-card {
  width: calc(100% / 3 - (3 - 1) * 24px / 3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.model-card__img {
  padding-bottom: 91.81%;
}

.model-card__content {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.model-card__title {
  font-weight: 500;
  font-size: 20px;
}

.model-card__text {
  color: rgba(248, 248, 248, 0.7);
}

.community__title {
  font-weight: 700;
  font-size: 42px;
  max-width: 900px;
}

.community__title span {
  color: #6b89ff;
}

.community__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.community__stats {
  display: flex;
  align-items: center;
  gap: 12px;
}

.community__text {
  font-size: 18px;
  font-weight: 800;
}

.community__text span {
  color: rgba(248, 248, 248, 0.7);
}

.community__stars {
  display: flex;
  align-items: center;
}

.community__avg {
  font-weight: 800;
  font-size: 22px;
}

.community__peoples {
  display: flex;
}

.community__people {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #578df1;
  font-size: 12px;
  font-weight: 800;
  border: 1px solid #000;
}

.community__people:not(:first-child) {
  margin-left: -10px;
}

.faq__container {
  max-width: 1000px;
}

.faq__title {
  align-self: start;
}

.faq__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.faq-item__btn {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-item__label {
  font-weight: 600;
  font-size: 18px;
}

.faq-item__icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.faq-item__plus {
  color: rgb(18, 66, 255);
}

.faq-item__minus {
  color: rgb(255, 89, 18);
  display: none;
}

.faq-item__content {
  padding: 12px 24px 24px;
  position: relative;
  display: none;
  flex-direction: column;
  gap: 8px;
}

.faq-item__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  width: calc(100% - 48px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.faq-item.active .faq-item__content {
  display: flex;
}

.faq-item.active .faq-item__plus {
  display: none;
}

.faq-item.active .faq-item__minus {
  display: flex;
}

.faq-item__paragraph {
  display: flex;
  flex-direction: column;
}

.faq-item__text {
  color: #acb5bb;
  font-size: 14px;
}

.footer {
  position: relative;
}

.footer__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__container {
  max-width: 700px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__btns {
  gap: 10px;
}

.footer__anchor {
  font-weight: 600;
  color: #8e8d91;
}

.footer__copy {
  font-weight: 700;
  font-size: 13px;
  color: #383838;
}

.footer__link {
  font-weight: 700;
  font-size: 13px;
  color: #383838;
  text-decoration: underline;
}

.footer__btn {
  padding: 11px 25px;
}

.earn__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.earn-card {
  width: calc(100% / 3 - (3 - 1) * 24px / 3);
  border: 1px solid #44444A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.earn-card__label {
  font-weight: 600;
}

.earn-card__title {
  font-weight: 500;
  font-size: 28px;
}

.earn-card__benefit {
  font-weight: 500;
  font-size: 10px;
  color: #6C7278;
  width: 100%;
  text-align: center;
  position: relative;
}

.earn-card__benefit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #6C7278;
  z-index: -2;
}

.earn-card__benefit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  width: 110px;
  height: 10px;
  z-index: -1;
}

.earn-card__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.earn-card__item {
  display: flex;
  gap: 10px;
}