:root{
	font-size: 10px;
}

@font-face{
    font-family: 'Nato Sans';
    font-weight: 400;
    src: url('../fonts/NotoSansRegular.ttf');
}

@font-face{
    font-family: 'Nato Sans';
    font-weight: 700;
    src: url('../fonts/NotoSansBold.ttf');
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: 'Nato Sans', sans-serif;
	background: #081425;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

.scroll{
	overflow: hidden;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 1.6rem;
	font-family: 'Nato Sans', sans-serif;
	padding: 0;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1720px;
	margin: 0 auto;
}

.img{
	width: 100%;
}

/* Шапка */
.header{
	padding-top: 2rem;
}

.header__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	padding-bottom: 2rem;
}

.header__wrapper{
	display: flex;
	align-items: center;
	margin-right: 2.5rem;
}

.header__logo, .footer__logo--inner{
	width: 112px;
	display: flex;
}

.footer__logo--inner{
	margin-right: 2rem;
}

.header__logo--text, .footer__logo--text{
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #fff;
	max-width: 110px;
	letter-spacing: 0.11em;
	line-height: 1.1;
}

.footer__logo--text{
	color: #828282;
}

.header__nav{
	display: flex;
	align-items: center;
}

.header__nav--link--inner{
	position: relative;
}

.header__nav--link{
	width: 100%;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav--link.active{
	background: #000;
}

.header__nav--link--inner.active .header__nav--link{
	color: #EB5757;
}

.header__nav--link.active .header__nav--link--icon{
	transform: rotate(180deg);
}

.header__nav--link--icon{
	margin-left: .7rem;
	transition: .2s linear;
}

.header__city{
	padding: 2.3rem 2rem;
	position: relative;
	display: flex;
	align-items: center;
}

.header__city.active{
	background: #000;
}

.header__city.active .header__city--arrow{
	transform: rotate(180deg);
}

.header__city--arrow{
	transition: .2s linear;
}

.header__city--value{
	margin: 0 1rem;
	color: #fff;
}

.header__search{
	width: 100%;
	background: none;
	padding: 1.2rem 0;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.header__search::placeholder{
	color: #fff;
}

.search__button{
	display: block;
	cursor: pointer;
}

.header__mobiles{
	display: flex;
	align-items: center;
	margin-left: 5rem;
}

.menu__button{
	display: none;
	margin-left: 1.5rem;
}

.header__nav--link--inner.active .header__dropdown,
.header__city.active .header__dropdown{
	opacity: 1;
	pointer-events: all;
}

.header__dropdown{
	position: absolute;
	top: 100%;
	right: 0;
	width: 750px;
	background: #091A31;
	border-radius: 4px;
	padding: 1.5rem 1.5rem 2rem 2rem;
	z-index: 34;
	transition: .2s linear;
	opacity: 0;
	pointer-events: none;
}

.header__city .header__dropdown{
	right: auto;
	left: 0;
}

.header__wrap{
	display: flex;
	align-items: center;
}

.header__drop--wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-right: 0.5rem;
	max-height: 250px;
	overflow-y: auto;
}

.header__drop--link{
	width: 33%;
	padding-right: 1rem;
	margin-top: 1.5rem;
	text-align: left;
	color: #fff;
}

.header__drop--link:hover{
	color: #EB5757;
}

/* Главная */
.breadcrumb{
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.breadcrumb__link{
	color: #fff;
	text-decoration: underline;
}

.breadcrumb__text, .breadcrumb__link{
	font-size: 1.4rem;
	margin: 0.25rem 0;
}

.breadcrumb__text{
	color: rgba(255, 255, 255, .5);
}

.breadcrumb__icon{
	margin: 0 .5rem;
	width: 15px;
}

.main{
	padding: 0 0 3rem 0;
}

.main__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__title{
	font-size: 6.4rem;
	color: #fff;
	margin-top: 2rem;
}

.main__block{
	width: 100%;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__block.center{
	align-items: center;
}

.main__subtitle{
	font-size: 3.2rem;
	font-weight: 700;
	color: #fff;
}

.main__subtitle.w100{
	width: 100%;
}

.main__block--content{
	width: 100%;
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.main__block--item{
	width: 15.69%;
	padding: 2rem 1.5rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
}

.main__block--img--inner{
	width: 100%;
	position: relative;
	display: flex;
}

.main__block--img{
	width: 100%;
}

.main__block--attrs{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0rem 0.5rem .5rem .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}

.main__block--attr{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 0.2rem 0.53rem;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
}

.main__block--text--inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__block--name--inner{
	width: 100%;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.main__block--name{
	color: #fff;
	font-weight: 700;
}

.main__block--name--icon{
	margin-left: 0.5rem;
	width: 20px;
}

.main__block--contact{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1rem;
}

.main__block--contact--link{
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
	color: #fff;
}

.main__block--contact--link:first-child{
	margin-top: 0;
}

.main__block--contact--icon{
	margin-right: 0.5rem;
}

.main__block--price{
	width: 100%;
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.main__block--price--item{
	background: #021126;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5rem 1rem;
}

.main__block--price--value{
	color: #fff;
}

.main__block--price--time{
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	color: rgba(255, 255, 255, .3);
}

.main__block--desc{
	color: #fff;
	margin-top: 1rem;
	font-size: 1.2rem;
	max-height: 60px;
	position: relative;
	overflow: hidden;
}

.main__block--desc:before{
	content: "";
	display: block;
	pointer-events: none;
	width: 100%;
	height: 100%;
	background: linear-gradient(360deg, #091A31 3.75%, rgba(255, 255, 255, 0) 76.88%), transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.main__block--points{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: .5rem;
}

.main__block--point{
	display: flex;
	align-items: center;
	margin: .5rem 1rem .5rem 0;
	color: #fff;
	font-size: 1.4rem;
}

.main__block--point.disable{
	color: rgba(255, 255, 255, .4);
}

.main__block--point:last-child{
	margin-right: 0;
}

.main__block--point--icon{
	margin-right: 0.5rem;
}

.main__block--buttons{
	width: 100%;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main__block--button--fav{
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	font-size: 1.2rem;
	padding: .6rem 1.2rem;
	font-weight: 700;
	color: #fff;
}

.main__block--button--fav:hover, .main__block--button--fav.active{
	color: #000;
	background: #fff;
}

.main__block--button--fav.active:hover{
	color: #fff;
	background: none;
}

.main__block--like{
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 700;
	color: #EB5757;
}

.main__block--like--icon{
	margin-right: 0.3rem;
}

.main__block--info--wrapper{
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__block--info--item{
	width: 100%;
	margin-top: .6rem;
	display: flex;
	align-items: center;
}

.main__block--info--item:first-child{
	margin-top: 0;
}

.main__block--info--title{
	min-width: 40px;
	color: rgba(0, 0, 0, .3);
	font-size: 1.2rem;
}

.main__block--info--text{
	font-size: 1.2rem;
}

.main__block--info--text.delete{
	text-decoration: line-through;
	color: rgba(0, 0, 0, .3);
}

.main__block--info--icon{
	margin-right: 0.5rem;
}

.main__textblock{
	width: 100%;
	margin-top: 1.5rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__textblock--title{
	font-weight: 700;
}

.main__textblock--text{
	margin-top: 1rem;
	color: #fff;
}

.main__textblock--text:first-child{
	margin-top: 0;
}

.up__inner{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	justify-content: flex-end;
}

.up__button{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 20;
	display: flex;
	align-items: center;
	transition: .2s linear;
	opacity: 0;
	pointer-events: none;
	color: #fff;
	font-weight: 600;
}

.up__button.active{
	opacity: 1;
	pointer-events: all;
}

.up__arrow{
	margin-left: .5rem;
}

.up__button:hover{
	opacity: 0.7;
}

.salon__content{
	width: 100%;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__item{
	width: 100%;
	padding: 2rem;
	margin-top: 2rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
	display: flex;
	align-items: flex-start;
}

.salon__item:first-child{
	margin-top: 0;
}

.salon__item--wrapper{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.salon__item--img--inner{
	width: 100%;
	max-width: 540px;
	flex-shrink: 0;
	margin-right: 2.5rem;
	position: relative;
}

.salon__item--text--inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 4rem;
	flex-grow: 1;
}

.salon__item--img--slider{
	width: 100%;
}

.main__block--item--tag--icon{
	margin-right: 0.25rem;
}

.main__block--item--tag.disable{
	color: rgba(0, 0, 0, .2);
}

.salon__item--models{
	width: 100%;
	margin-top: 3rem;
	display: flex;
	gap: 20px;
}

.salon__item--model{
	width: 20%;
	padding: 0.25rem;
	min-height: 107px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.salon__item--img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.salon__item--model--name{
	background: rgba(0, 0, 0, .8);
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	padding: 0.1rem .3rem;
	border-radius: 5px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.salon__item--model--more{
	width: calc(100% - 5px);
	height: calc(100% - 5px);
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	background: rgba(0, 0, 0, .7);
	border-radius: 7px;
	z-index: 2;
}

.salon__item--model--more + .salon__item--img{
	filter: blur(3px);
}

.salon__contact--wrapper{
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.salon__contact--link{
	margin-left: 0.8rem;
	display: flex;
}

.salon__item--img--slider .slick-dots{
	width: calc(100% - 10px);
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 5px;
	left: 5px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
	grid-gap: 5px;
}

.salon__item--img--slider .slick-dots button{
	display: none;
}

.salon__item--img--slider .slick-dots li{
	height: 4px;
	border-radius: 10px;
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
	margin-right: 0.2rem;
}

.salon__item--img--slider .slick-dots li:last-child{
	margin-right: 0;
}

.salon__item--img--slider .slick-dots li.slick-active{
	background: #EB5757;
}

.salon__item--tags{
	width: 100%;
	max-width: 190px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__item--tag{
	display: flex;
	align-items: center;
	color: #fff;
	margin-top: 1.5rem;
}

.salon__item--tag:first-child{
	margin-top: 0;
}

.salon__item--tag--icon{
	width: 20px;
	margin-right: 1.4rem;
}

.main__block--text--wrapper{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.main__block--item--contact{
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__item--title--inner{
	display: flex;
	align-items: center;
}

.main__block--item--title{
	color: #fff;
	font-weight: 600;
}

.main__block--name--inner:first-child{
	margin-top: 0;
}

.main__block--item--contact--link{
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.main__block--item--contact--link:first-child{
	margin-top: 0;
}

.main__block--item--contact--link{
	color: #fff;
}

.main__block--item--contact--icon{
	margin-right: 0.5rem;
}

.salon__item--desc{
	color: #fff;
	margin-top: 1rem;
	font-size: 1.2rem;
}

.salon__item--title--inner{
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff;
}

.salon__item--title--icon{
	margin-right: 0.5rem;
}

/* Футер */
.footer__inner{
	width: 100%;
	padding: 2.5rem 0;
	border-top: 1px solid rgba(255, 255, 255, .1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo--wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__logo--content{
	display: flex;
	align-items: center;
}

.footer__copy{
	margin-top: 2.5rem;
	font-size: 1.2rem;
	color: rgba(0, 0, 0, .5);
}

.footer__auth{
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.7rem;
	text-decoration: underline;
}

.footer__auth--icon{
	margin-right: 0.7rem;
}

.footer__adult{
	max-width: 62px;
}

/* 404 */
.notfound{
	padding: 0 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url("../img/404-bg.jpg") center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.notfound__bg2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.3;
	max-width: 90%;
	pointer-events: none;
}

.notfound__text{
	color: #fff;
	font-size: 3.6rem;
	position: relative;
	text-align: center;
}

.notfound__link{
	padding: 1.8rem 4rem;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	border-radius: 4px;
	position: relative;
	margin-top: 10rem;
}

.notfound__link:hover{
	background: #fff;
	color: #1c1c1c;
}

/* Страница карточки */
.salon__uslugi{
	width: 100%;
	padding: 5rem 4rem;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
	margin-top: 1.5rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.salon__uslugi--item{
	width: 25%;
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__uslugi--item--title{
	font-size: 2rem;
	font-weight: 700;
}

.salon__uslugi--wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
}

.salon__uslugi--point{
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	margin-top: 1rem;
}

.salon__uslugi--point:first-child{
	margin-top: 0;
}

.salon__uslugi--point--icon{
	margin-right: 0.5rem;
}

.salon__uslugi--point.disabled{
	color: rgba(0, 0, 0, .5);
}

.salon__block--inner{
	width: 49%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__map{
	height: 100%;
	min-height: 300px;
	width: 100%;
	border: none;
	border-radius: 4px;
	margin-top: 2rem;
}

.card__reviews{
	width: 100%;
	margin-top: 2rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding: 3rem 2rem 3rem 3rem;
	height: 100%;
	justify-content: space-between;
}

.card__reviews--leave{
	padding: 3rem;
}

.card__reviews.active{
	display: flex;
}

.card__reviews--buttons{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 4rem;
}

.card__reviews--more{
	text-decoration: underline;
	color: rgba(0, 0, 0, 0.4);
	font-size: 1.8rem;
}

.card__review--button{
	border-radius: 4px;
	border: 2px solid #fff;
	padding: 1.2rem 3rem;
	font-weight: 700;
	color: #fff;
	margin-top: 3rem;
}

.card__review--button:hover{
	background: #fff;
	color: #000;
}

.card__reviews--content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 1rem;
	overflow-y: auto;
	max-height: 250px;
}

.card__reviews--item{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2.5rem;
}

.card__reviews--item:first-child{
	margin-top: 0;
}

.card__reviews--item--name{
	font-weight: 500;
	font-size: 1.8rem;
	color: #fff;
}

.card__reviews--item--text{
	margin-top: 1rem;
	color: #fff;
}

.card__price--item--name{
	display: flex;
	align-items: center;
}

.card__price--item--time{
	font-size: 1.8rem;
	margin-left: 0.7rem;
}

.card__price--item--value{
	font-size: 2rem;
	font-weight: 700;
}

.card__img--inner, .salon__img--inner{
	width: 31.3%;
	display: flex;
	align-items: flex-start;
}

.salon__img--inner{
	flex-direction: column;
	margin-top: 6.3rem;
}

.card__slider--small{
	width: 125px;
	margin-right: 2rem;
}

.card__slider--big{
	width: calc(100% - 145px);
}

.card__text--inn{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__slide--small{
	padding: 0.5rem 0;
}

.card__text--name--inner{
	display: flex;
	align-items: center;
	width: 100%;
}

.card__text--name{
	font-size: 3rem;
	font-weight: 700;
}

.card__text--verify{
	margin-left: 1rem;
	width: 35px;
}

.salon__about{
	background: #fff;
	border-radius: 15px;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
	margin-top: 1.5rem;
}

.salon__about--text{
	margin-top: 1rem;
	font-size: 1.8rem;
}

.salon__about--text:first-child{
	margin-top: 0;
}

.salon__slider--big, .salon__slider--small{
	width: 100%;
}

.salon__slider--small{
	margin-top: 1rem;
}

.salon__slide--small{
	padding: 0rem .6rem;
	border-radius: 10px;
}

.card__like--button{
	position: absolute;
	top: 0;
	right: 0;
	background: #EB5757;
	border: 2px solid #FFFFFF;
	box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.25);
	border-radius: 0px 15px;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 700;
	padding: .7rem 1.5rem;
}

.card__like--button:hover{
	background: #c74141;
}

.card__like--icon{
	width: 30px;
	margin-left: 0.5rem;
}

.card__text--wrapper{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 3rem;
}

.card__text--box{
	width: 50%;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__text--box:last-child{
	padding-right: 0;
}

.salon__text--box{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__text--contact{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1.5rem;
}

.card__text--contact:first-child{
	margin-top: 0;
}

.card__text--contact--wrapper{
	display: flex;
	align-items: center;
}

.card__text--contact--link{
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 700;
}

.card__text--contact--icon{
	margin-right: 0.3rem;
	max-width: 20px;
}

.card__text--contact--social{
	display: flex;
	margin-left: 1rem;
	max-width: 18px;
}

.card__text--contact--social--icon{
	width: 100%;
}

.card__text--work{
	width: 100%;
	margin-top: 1rem;
	display: flex;
	padding-left: 2.7rem;
}

.card__text--work--point{
	text-transform: uppercase;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	color: #BDBDBD;
	margin-right: 0.4rem;
	font-weight: 700;
}

.card__text--work--point:last-child{
	margin-right: 0;
}

.card__text--text{
	margin-top: 1rem;
	padding-left: 2.7rem;
}

.card__text--people{
	width: 100%;
	margin-top: 1rem;
	padding-left: 2.7rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__text--people--item{
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.card__text--people--item:first-child{
	margin-top: 0;
}

.card__text--people--icon{
	margin-right: 0.5rem;
}

.card__text--people--item.disabled{
	text-decoration: line-through;
	color: #BDBDBD;
}

.card__text--info--item{
	margin-top: 1rem;
	font-size: 2rem;
	color: rgba(255, 255, 255, .9);
	line-height: 185%;
}

.bold{
	font-weight: 700;
}

.link{
	text-decoration: underline;
	color: #EB5757;
}

.card__text--info--item:first-child{
	margin-top: 0;
}

.card__buttons{
	margin-top: 3rem;
	display: flex;
}

.card__button{
	display: flex;
	align-items: center;
	border-radius: 40px;
	font-size: 1.8rem;
	font-weight: 700;
	padding: 1.5rem 4rem;
}

.card__button--favorite{
	background: #E0E0E0;
	box-shadow: 0px 0px 5px rgba(189, 189, 189, 0.5);
	margin-right: 3rem;
}

.card__button--warn{
	border: 2px solid #EB5757;
	color: #EB5757;
}

.card__button--warn:hover{
	opacity: 0.5;
}

.card__button--favorite--icon{
	margin-right: 1rem;
}

.salon__price--tags{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 3rem;
}

.salon__programm--content{
	width: 100%;
	margin-top: 1.5rem;
	border-radius: 15px;
	padding: 1.5rem 0 3rem 0;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.salon__programm--item{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 3rem;
	border-bottom: 1px solid #BDBDBD;
}

.salon__programm--item.title{
	padding: 1.5rem 3rem;
}

.salon__programm--name, .salon__programm--desc, .salon__programm--time, .salon__programm--price{
	font-size: 1.8rem;
}

.value .salon__programm--desc{
	font-size: 1.6rem;
}

.salon__programm--desc{
	padding-right: 2rem;
}

.value .salon__programm--name, .value .salon__programm--time, .value .salon__programm--price{
	font-weight: 700;
}

.salon__programm--name{
	width: 25%;
}

.salon__programm--desc{
	width: 45%;
}

.salon__programm--time, .salon__programm--price{
	width: 15%;
}

.salon__program--more{
	border-radius: 50px;
	margin-top: 3rem;
	padding: 1.5rem 6rem;
	font-weight: 700;
	font-size: 1.8rem;
	box-shadow: 0px 0px 5px rgba(189, 189, 189, 0.5);
	background: #E0E0E0;
}

.salon__program--more:hover{
	opacity: 0.6;
}

.search__mob{
	padding: 1rem 0;
	display: none;
}

.search__mob.active{
	display: block;
}

.search__mob--inner{
	width: 100%;
	position: relative;
}

.search__mob--input{
	border: 1px solid #163A6C;
	padding: 1rem 1.5rem;
	border-radius: 10px;
	width: 100%;
	background: #000;
	color: #fff;
}

.search__mob--input:focus{
	border: 1px solid #eb5757;
}

/* Модальное меню */
.modal__menu{
	width: 100%;
	height: 100vh;
	background: #081425;
	padding: 5rem 0rem 1rem 0rem;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: .3s ease-in-out;
	opacity: 0;
	transform: translateX(-100%);
}

.modal__menu.active{
	opacity: 1;
	transform: translateX(0%);
}

.modal__menu--content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.modal__cross{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.header__nav--drop{
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 3.5rem;
	margin-top: 1rem;
	overflow-y: auto;
	max-height: 200px;
}

.header__nav--drop.active{
	display: flex;
}

.header__nav--drop--link{
	margin-top: 1rem;
	color: #fff;
}

.header__nav--drop--link:first-child{
	margin-top: 0px;
}

.header__nav--drop--link:hover{
	color: #EB5757;
}

.header__nav.modal{
	width: 100%;
}

.pagin{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	flex-wrap: wrap;
}

.pagin__link{
	margin-right: .5rem;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
}

.pagin__link.active, .pagin__link:hover{
	color: #000;
	background: #EB5757;
}

.pagin__next{
	color: #fff;
	font-weight: 600;
	font-size: 1.8rem;
	margin-left: 1rem;
}

.card__reviews--form{
	width: 100%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__reviews--captcha, .card__reviews--input--inner{
	width: 100%;
	margin-top: 1rem;
}

.card__reviews--input, .card__reviews--textarea{
	width: 100%;
	padding: 1.3rem 2rem;
	border-radius: 8px;
	border: 1px solid #163A6C;
	color: #fff;
	background: #000;
}

.card__reviews--input:focus, .card__reviews--textarea:focus{
	border: 1px solid #eb5757;
}

.card__reviews--textarea{
	resize: none;
	height: 120px;
}

.card__reviews--input--inner:first-child{
	margin-top: 0;
}

.footer__adult--img{
	min-width: 242px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 1.2rem;
	color: rgba(255, 255, 255, .5);
}

.footer__adult{
	margin-right: 1rem;
}

.salon__contact--inner{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 2rem;
}

.salon__name--inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__buttons--inner{
	display: flex;
	align-items: center;
}

.salon__button--fav, .salon__button--warn{
	border: 2px solid #fff;
	color: #fff;
	font-weight: 700;
	padding: 1.4rem 3rem;
	border-radius: 4px;
	margin-right: 2rem;
}

.salon__button--fav:hover{
	color: #000;
	background: #fff;
}

.salon__button--warn{
	color: #EB5757;
	border: 2px solid #EB5757;
}

.salon__button--warn:hover{
	color: #fff;
	background: #EB5757;
}

.salon__button--like{
	display: flex;
	align-items: center;
	font-weight: 700;
	color: #eb5757;
}

.salon__button--like--icon{
	margin-right: 0.7rem;
}

.salon__name{
	display: flex;
	align-items: center;
}

.salon__name--value{
	color: #fff;
	font-size: 3.6rem;
}

.salon__name--attr{
	margin-left: 1rem;
	width: 25px;
}

.salon__block--half{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.salon__box{
	width: 32%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__wrap{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 3rem;
}

.salon__wrap:first-child{
	margin-top: 0;
}

.salon__param--inner, .salon__price--inner{
	width: 100%;
	padding: 3.5rem 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 2rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
	height: 100%;
}

.salon__param--inner{
	padding: 3rem;
}

.card__point{
	margin-top: 1rem;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 2rem;
	line-height: 185%;
}

.card__point--icon{
	margin-right: 1rem;
}

.card__point:first-child{
	margin-top: 0;
}

.salon__price--box{
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.salon__price--title{
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
}

.salon__price--items{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1.5rem;
}

.salon__price--item{
	width: 100%;
	margin-top: 0.7rem;
	color: #fff;
	background: #021126;
	border-radius: 4px;
	padding: 0.6rem 1.2rem;
	font-size: 1.8rem;
}

.salon__price--item:first-child{
	margin-top: 0;
}

.card__uslugi--content{
	width: 100%;
	height: 100%;
	margin-top: 2rem;
	padding: 4rem 2rem 4rem 3rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
}

.card__uslugi--box{
	width: 100%;
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-height: 600px;
	overflow-y: auto;
}

.card__uslugi--item, .card__uslugi--wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
}

.card__uslugi--item:first-child{
	margin-top: 0;
}

.card__uslugi--title{
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
}

.card__uslugi--wrap{
	margin-top: 1rem;
}

.card__uslugi--name{
	color: #EB5757;
	margin-top: 0.8rem;
}

.card__uslugi--name:first-child{
	margin-top: 0;
}

.salon__blocks{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 6rem;
}

.card__about--content{
	width: 100%;
	margin-top: 2rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
	padding: 2rem;
	height: 100%;
}

.card__about--text{
	color: #fff;
	margin-top: 1.5rem;
}

.card__about--text:first-child{
	margin-top: 0;
}

.salon__attrs--inner{
	width: 100%;
	margin-top: 2rem;
	background: #091A31;
	box-shadow: 0px 0px 104px rgba(47, 128, 237, 0.3);
	border-radius: 4px;
	padding: 3rem 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.salon__attr--item{
	width: 48%;
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	color: #fff;
	font-size: 1.8rem;
}

.salon__attr--item--icon{
	margin-right: 1rem;
}

.salon__attr--item:first-child, .salon__attr--item:nth-child(2){
	margin-top: 0;
}

.salon__program--item{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 4rem;
}

.salon__program--item:first-child{
	margin-top: 0;
}

.salon__program--name--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1rem;
	border-bottom: 2px solid #FFFFFF;
}

.salon__program--name, .salon__program--price{
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
}

.salon__program--time, .salon__program--text{
	margin-top: 1rem;
	color: #fff;
}

.salon__for{
	display: flex;
	align-items: flex-start;
}

.salon__for--item{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 2rem;
	margin-right: 2rem;
	border-right: 1px solid rgba(255, 255, 255, .2);
}

.salon__for--item:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

.salon__for--item--text{
	color: #fff;
	text-align: center;
	margin-top: 1rem;
}

.search__mob--button{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
	background: #eb5757;
}

.search__mob--button--icon{
	max-width: 60%;
}

/* Адаптив */
@media(max-width: 1740px){
	.container{
		max-width: 1450px;
	}

	.salon__item--img--inner{
		max-width: 350px;
	}

	.main__block--item{
		width: 18.89%;
	}
}
@media(max-width: 1470px){
	.container{
		max-width: 1180px;
	}

	.salon__item--wrapper{
		flex-direction: column;
		align-items: center;
	}

	.salon__item--img--inner{
		max-width: 300px;
	}

	.salon__item--models{
		gap: 5px;
	}

	.card__point{
		font-size: 1.6rem;
	}

	.card__text--contact--link, .card__text--info--item, .card__about--text{
		font-size: 1.6rem;
	}

	.card__button{
		padding: 1.2rem 2rem;
	}

	.card__price--tags{
		padding: 1.5rem;
	}

	.salon__programm--name{
		width: 20%;
	}

	.main__block--item{
		width: 23.73%;
	}
	
	.main__subtitle{
		font-size: 2.5rem;
	}

	.salon__img--inner{
		margin-top: 5.4rem;
	}
}
@media(max-width: 1200px){
	.container{
		max-width: 978px;
	}

	.salon__for{
		display: none;
	}

	.header__city, .header__nav--link{
		padding: 2.5rem 1.5rem;
	}

	.header__city--value{
		margin: 0rem 1rem 0rem 0.5rem;
	}

	.card__slider--small{
		width: 100px;
	}

	.card__slider--big{
		width: calc(100% - 120px);
	}

	.card__slide--small{
		padding: 0.25rem 0;
	}

	.card__button{
		font-size: 1.6rem;
	}

	.card__price{
		flex-direction: column;
		align-items: flex-start;
	}

	.card__price--wrapper, .card__price--tags{
		width: 100%;
	}

	.card__price--item, .card__price--tags{
		margin-top: 1rem;
	}

	.header__dropdown{
		width: 450px;
	}

	.header__drop--link{
		width: 50%;
	}

	.main__block--item{
		width: 31.97%;
	}

	.salon__item{
		flex-wrap: wrap;
	}

	.salon__item--tags{
		flex-direction: row;
		max-width: 100%;
		flex-wrap: wrap;
		gap: 15px;
		margin-top: 2rem;
	}

	.salon__item--tag--icon{
		margin-right: 0.5rem;
	}

	.salon__item--tag{
		margin: 0;
	}

	.salon__item--text--inner{
		margin-right: 0;
	}

	.salon__item--text--inner{
		width: calc(100% - 325px);
	}

	.salon__block--half, .salon__blocks{
		flex-wrap: wrap;
	}

	.salon__box{
		width: 48%;
	}

	.card__uslugi, .card__map--box{
		margin-top: 3rem;
		width: 100%;
	}

	.card__uslugi--box{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	.card__uslugi--item{
		width: 48%;
	}

	.card__uslugi--item:nth-child(2){
		margin-top: 0;
	}

	.header__nav--link, .header__city--value{
		font-size: 1.4rem;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}

	.notfound__title{
		font-size: 6.5rem;
	}

	.header__nav{
		display: none;
	}

	.menu__button{
		display: flex;
	}

	.main__block--item{
		padding: 1.2rem .7rem;
	}

	.main__block--info--wrapper{
		width: 100%;
		margin-top: 1rem;
	}

	.main__block--info--wrapper:first-child{
		margin-top: 0;
	}
	
	.salon__item--models{
		flex-wrap: nowrap;
		overflow-y: auto;
		padding-bottom: .5rem;
	}

	.salon__item--model{
		width: auto;
		max-width: 100px;
		flex-shrink: 0;
	}

	.card__slider--small{
		margin-right: 1rem;
	}

	.card__slider--big{
		width: calc(100% - 110px);
	}

	.salon__block--inner{
		width: 100%;
		margin-top: 2rem;
	}

	.salon__block--inner:first-child{
		margin-top: 0;
	}

	.salon__uslugi--item--title{
		font-size: 1.8rem;
	}

	.salon__uslugi--item{
		width: 33%;
		margin-top: 2rem;
	}

	.salon__uslugi--item:first-child, .salon__uslugi--item:nth-child(2), .salon__uslugi--item:nth-child(3){
		margin-top: 0;
	}

	.card__map{
		min-height: 270px;
	}

	.header__nav.modal{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.header__nav--link{
		padding: 0;
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		font-weight: 700;
		padding: 1rem 2rem;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
	}

	.header .header__nav--link:hover{
		color: #1c1c1c;
		background: none;
	}

	.header__nav--link--inner{
		width: 100%;
	}

	.header__nav--link--inner:first-child{
		margin-top: 0;
	}

	.header__nav.modal .header__nav--link .header__nav--link--icon{
		transform: rotate(0);
	}

	.header__nav.modal .header__nav--link.active .header__nav--link--icon{
		transform: rotate(180deg);
	}

	.footer__auth{
		font-size: 1.5rem;
	}

	.main__block--content{
		gap: 10px;
	}

	.header__mobiles{
		margin-left: 0;
	}

	.salon__item--text--inner{
		width: 100%;
		margin-top: 2rem;
		order: 3;
	}

	.salon__item--tags{
		max-width: calc(100% - 325px);
		margin-top: 0;
	}

	.salon__button--fav, .salon__button--warn{
		padding: 1rem 1.5rem;
		font-size: 1.4rem;
		margin-right: 1rem;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 460px;
	}

	.notfound__title{
		font-size: 4.5rem;
	}

	.header__city{
		display: none;
	}

	.footer__inner{
		flex-direction: column;
		align-items: center;
	}

	.footer__copy{
		width: 100%;
		text-align: center;
	}

	.footer__auth{
		margin-top: 1.5rem;
	}

	.up__inner{
		margin-top: 3rem;
	}

	.main__textblock--text{
		font-size: 1.4rem;
	}

	.main__title{
		font-size: 4rem;
	}

	.breadcrumb__link{
		font-size: 1.4rem;
	}

	.breadcrumb__icon{
		width: 18px;
	}

	.card__text--contact--social{
		margin-left: 0.5rem;
	}

	.salon__uslugi--item{
		width: 50%;
	}

	.salon__uslugi--item:nth-child(3){
		margin-top: 2rem;
	}

	.salon__uslugi--point, .card__reviews--item--name, .card__reviews--item--text{
		font-size: 1.6rem;
	}

	.salon__uslugi{
		padding: 2.5rem;
	}

	.card__review--button{
		padding: 1.2rem 3rem;
	}

	.card__text--name{
		font-size: 2.5rem;
	}

	.salon__about{
		padding: 2rem;
	}

	.salon__about--text{
		font-size: 1.6rem;
	}

	.salon__programm--item.title{
		display: none;
	}

	.salon__programm--item{
		flex-wrap: wrap;
		padding: 1.5rem 2rem;
	}

	.salon__programm--desc{
		width: 100%;
		order: 4;
		padding-right: 0;
		margin-top: 1.5rem;
	}

	.salon__programm--name, .salon__programm--time, .salon__programm--price{
		width: 33%;
	}

	.footer__adult--img{
		justify-content: center;
		margin-top: 1.5rem;
	}

	.main__block--item{
		width: 48.91%;
	}

	.salon__item--tags{
		width: 100%;
		order: 4;
		max-width: 100%;
		margin-top: 2rem;
	}

	.salon__item{
		flex-direction: column;
		align-items: center;
	}

	.salon__item--img--inner{
		margin-right: 0;
	}

	.main__block--text--wrapper{
		order: 2;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 2rem;
	}

	.main__block--item--contact{
		width: 100%;
		margin-top: 2rem;
	}

	.main__block--item--contact:first-child, .salon__item--models{
		margin-top: 0;
	}

	.salon__contact--inner{
		flex-direction: column;
		align-items: flex-start;
	}

	.salon__buttons--inner{
		margin-top: 2rem;
	}

	.salon__box{
		width: 100%;
		margin-top: 2.5rem;
	}

	.salon__box:first-child{
		margin-top: 0;
	}

	.salon__blocks{
		margin-top: 3rem;
	}

	.main__block--buttons{
		flex-direction: column;
		align-items: flex-start;
	}

	.main__block--like{
		margin-top: 0.7rem;
	}

	.salon__name--value{
		font-size: 2.5rem;
	}
}
@media(max-width: 480px){
	.container{
		max-width: 90%;
	}

	.notfound__title{
		font-size: 3.5rem;
	}

	.main__block, .main__title{
		margin-top: 1.5rem;
	}

	.main{
		padding: 0 0 2.5rem 0;
	}

	.notfound__img--inner:before{
		font-size: 11rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.notfound__button{
		padding: 1rem 3rem;
	}

	.header__logo, .footer__logo--inner{
		width: 90px;
	}

	.header__logo--text{
		font-size: 1rem;
		max-width: 90px;
	}

	.salon__item--img--inner{
		max-width: 100%;
	}

	.main__title{
		font-size: 3.2rem;
	}

	.header{
		padding-top: 1.5rem;
	}

	.card__img--inner{
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.card__slider--big, .card__slider--small{
		width: 100%;
	}

	.card__slider--small, .salon__slider--small{
		margin: 1rem 0rem 0rem 0rem;
	}

	.card__slide--small, .salon__slide--small{
		padding: 0rem 0.3rem;
	}

	.card__text--wrapper{
		flex-direction: column;
		align-items: flex-start;
	}

	.card__buttons{
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}

	.card__button{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.card__button--favorite{
		margin: 0rem 0rem 1rem 0;
	}

	.salon__uslugi--item{
		width: 100%;
	}

	.salon__uslugi--item:nth-child(2){
		margin-top: 2rem;
	}

	.card__reviews--buttons{
		flex-direction: column;
		align-items: center;
		padding-right: 1rem;
	}

	.card__reviews--show .card__reviews--buttons{
		padding-right: 0;
	}
	
	.card__review--button{
		margin-top: 2rem;
	}

	.card__reviews{
		padding: 1.5rem 0.5rem 2rem 1.5rem;
	}

	.card__reviews--leave{
		padding: 1.5rem 1.5rem 2rem 1.5rem;
	}

	.card__text--name{
		font-size: 2.1rem;
	}

	.salon__program--more{
		font-size: 1.6rem;
		padding: 1.3rem 4rem;
		margin-top: 2rem;
	}

	.card__like--button{
		font-size: 1.6rem;
		padding: 0.5rem 0.7rem;
	}

	.card__like--icon{
		width: 23px;
	}

	.card__text--info--item{
		font-size: 1.5rem;
	}

	.value .salon__programm--name, .value .salon__programm--time, .value .salon__programm--price{
		font-size: 1.6rem;
	}

	.salon__programm--time{
		text-align: center;
	}

	.salon__programm--price{
		text-align: right;
	}

	.main__block--content{
		justify-content: space-between;
	}

	.main__block--item{
		width: 48%;
		padding: 1.5rem 1rem;
	}

	.main__block--contact--link{
		font-size: 1.4rem;
	}

	.salon__buttons--inner{
		flex-wrap: wrap;
	}

	.salon__button--fav, .salon__button--warn{
		padding: 0.8rem 1.3rem;
		font-size: 1.3rem;
	}

	.salon__button--like{
		margin-top: 1rem;
		width: 100%;
	}

	.card__uslugi--item{
		width: 100%;
	}

	.card__uslugi--item:nth-child(2){
		margin-top: 3rem;
	}

	.main__subtitle{
		font-size: 2.1rem;
	}

	.salon__price--inner, .salon__param--inner{
		flex-direction: column;
		align-items: flex-start;
	}

	.salon__price--box, .card__text--box{
		margin-top: 2rem;
		width: 100%;
	}

	.salon__price--box:first-child, .card__text--box:first-child{
		margin-top: 0;
	}

	.card__text--box{
		padding-right: 0;
	}

	.card__text--info--item{
		width: 100%;
		font-size: 1.6rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.salon__name--value{
		font-size: 2.2rem;
	}
}
@media(max-width: 440px){
	.main__block--item{
		width: 100%;
	}

	.main__block--buttons{
		flex-direction: row;
		align-items: center;
	}

	.main__block--like{
		margin-top: 0;
	}
}
@media(max-width: 390px){
	.card__text--info--item, .value .salon__programm--name, .value .salon__programm--time, .value .salon__programm--price{
		font-size: 1.4rem;
	}
}
@media(max-width: 345px){
	.notfound__text{
		font-size: 2.5rem;
	}

	.notfound__link{
		padding: 1.2rem 2rem;
		margin-top: 4rem;
	}
}