body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input::placeholder{
	color: #000;
}

.input:focus::placeholder{
	opacity: 0;	
}

/* 404 */
.notfound{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 20px;
	position: relative;
}

.notfound__bg{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	pointer-events: none;
}

.notfound__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.notfound__img{
	width: 150px;
}

.notfound__suptitle, .notfound__title{
	color: #fff;
	font-weight: 800;
	font-size: 128px;
	text-align: center;
}

.notfound__title{
	font-size: 72px;
	text-transform: uppercase;
}

.notfound__text{
	text-align: center;
	color: #fff;
	font-size: 32px;
}

.notfound__link{
	border-radius: 8px;
	background: #7B67FB;
	color: #fff;
	padding: 16px 40px;
}

.notfound__link:hover{
	color: #fff;
	opacity: .7;
}

/* Главная */
.main{
	padding: 24px 0;
}

.main__telegram{
	padding: 12px 16px;
	background: #F6F6F6;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 16px;
}

.main__telegram--text a{
	color: #7B67FB;
	font-weight: 600;
}

.main__title{
	font-size: 36px;
	font-weight: 700;
}

.main__breadcrumb{
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
}

.main__breadcrumb--link, .main__breadcrumb--text{
	text-transform: uppercase;
	color: #7B67FB;
	font-size: 12px;
	font-weight: 600;
}

.main__breadcrumb--text{
	color: rgba(0, 0, 0, .2);
}

.main__item--img--inner, .salon__item--img--inner, .card__item--img--inner{
	width: 100%;
	height: 420px;
	position: relative;
}

.card__item--img--inner{
	height: 600px;
}

.main__item--img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__item--name{
	font-size: 20px;
	font-weight: 600;
	color: #7B67FB;
	display: inline-block;
}

.main__item--wrap, .main__item--wrap--link{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
}

.main__item--wrap--link{
	font-weight: 700;
}

.main__item--buttons, .card__buttons{
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main__item--button, .card__item--button{
	gap: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 5px;
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	background: #fff;
	width: 48.5%;
	font-size: 13px;
	font-weight: 600;
}

.card__item--button{
	width: 31%;
}

.main__item--button:last-child, .main__item--button:hover, .card__item--button:hover,
.card__item--button:last-child{
	background: #D9D9D9;
}

.main__item--button:last-child:hover, .card__item--button:last-child:hover{
	background: #fff;
}

.main__item--attrs{
	position: absolute;
	top: 8px;
	left: -8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	pointer-events: none;
}

.main__item--attr{
	gap: 4px;
	border-radius: 5px;
	padding: 4px 8px;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	display: flex;
	align-items: center;
}

.main__item--attr.verify{
	background: #0FAD47;
}

.main__item--attr.video{
	background: #2F80ED;
}

.main__item--info{
	width: 100%;
	min-height: 60%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 11.88%, rgba(0, 0, 0, 0) 24.21%);
	border-radius: 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 8px;
	display: flex;
	align-items: flex-end;
	pointer-events: none;
}

.main__item--info--wrapper{
	width: 100%;
	gap: 8px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.main__item--info--item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.main__item--info--item p{
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
}

.textblock__title{
	font-size: 32px;
	font-weight: 700;
}

/* Пагинация */
.paggin{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.paggin__link{
	width: 32px;
	height: 32px;
	border: 1px solid #E0E0E0;
	color: #000;
	font-weight: 700;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a.paggin__link:hover{
	color: #BDBDBD;
}

a.paggin__active{
	color: #BDBDBD;
}

.paggin__arrow{
	color: #7B67FB;
	border: 1px solid #7B67FB;
}

.paggin__arrow:hover{
	background: #7B67FB;
	color: #000;
}

.up__button{
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 20;
	display: flex;
	align-items: center;
	transition: .2s linear;
	opacity: 0;
	pointer-events: none;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #7B67FB;
}

.up__button.active{
	opacity: 1;
	pointer-events: all;
}

/* Подвал */
.footer{
	padding: 30px 0;
	border-top: 1px solid #E0E0E0;
}

.main__logo{
	display: flex;
	gap: 16px;
	align-items: center;
}

.main__logo--wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__logo--title{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	line-height: 1;
}

.main__logo--text{
	font-size: 12px;
	color: rgba(0, 0, 0, .5);
}

.footer__login{
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer__login--inner{
	display: flex;
	justify-content: flex-end;
}

.footer__copy{
	font-size: 14px;
	color: rgba(0, 0, 0, .5);
}

.footer__copy--inner{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.footer__warn{
	display: flex;
	align-items: center;
	gap: 8px;
}

/* Шапка */
.header__top{
	padding: 12px 0;
}

.header__bottom{
	background: #F2F2F2;
	padding: 15px 0;
	position: relative;
}

.header__city{
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__city p{
	color: rgba(0, 0, 0, .5);
}

.header__city p span{
	color: #000;
}

.header__search--inner{
	position: relative;
}

.header__search{
	padding: 8px 8px 8px 32px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
}

.header__search--icon{
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

.header__bottom--inner{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.header__bottom--nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__bottom--link{
	display: flex;
	align-items: center;
	gap: 8px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	border-right: 1px solid #BDBDBD;
	padding: 0px 15px;
}

.header__bottom--link:first-child{
	padding-left: 0;
}

.header__bottom--link:last-child{
	padding-right: 0;
	border-right: none;
}

.header__bottom--link:hover{
	color: #7B67FB;
}

.header__bottom--link.top, .header__bottom--link.top:hover{
	color: #D91A5D;
}

.header__bottom--link.star, .header__bottom--link.star:hover{
	color: #FE8B25;
}

.header__bottom--content{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #F2F2F2;
	padding: 40px;
	background: #fff;
	z-index: 2;
	max-height: 250px;
	overflow: hidden;
	overflow-y: auto;
	display: none;
	transition: .2s linear;
}

.header__bottom--content .row{
	gap: 8px;
}

.header__bottom--content.active{
	display: block;
}

.header__bottom--content a:hover{
	color: #7B67FB;
}

/* Модалка городов */
.modal__city{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
	display: block;
	opacity: 0;
	transition: .2s linear;
	pointer-events: none;
}

.modal__city.active{
	opacity: 1;
	pointer-events: all;
}

.modal__city--inner{
	width: 100%;
    display: flex;
    align-items: center;
	max-width: 900px;
    min-height: calc(100% - 35px);
    margin: 17.5px auto;
    justify-content: center;
}

.modal__city--content{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #fff;
	border-radius: 10px;
}

.modal__city--wrapper{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.modal__city--cross{
	cursor: pointer;
}

.modal__city--box{
	width: 100%;
	margin-top: 30px;
	overflow-y: auto;
	max-height: 350px;
	display: flex;
	flex-wrap: wrap;
}

.modal__city--link{
	width: 50%;
	padding: 0 5px;
	color: #000;
	margin-top: 5px;
}

.modal__city--link:hover{
	color: #7B67FB;
}

.modal__city--link:first-child, .modal__city--link:nth-child(2){
	margin-top: 0;
}

.menu__inner{
	display: none;
	justify-content: flex-end;
	align-items: center;
}

.menu, .cross{
	cursor: pointer;
}

.mobile__search--button{
	display: flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	cursor: pointer;
}

.mobile__search--button img{
	width: 21px;
}

.mobile__search, .mobile__city{
	display: none;
}

.card__img{
	width: 100%;
}

.card__map--map{
	width: 100%;
	height: 340px;
}

.info__icon{
	width: 24px;
	flex-shrink: 0;
	margin-right: 8px;
	position: relative;
	top: 2px;
}

.card__info--content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	position: relative;
}

.card__info--content p{
	font-weight: 700;
	font-size: 18px;
}

.card__info--content a{
	font-size: inherit;
	color: #7B67FB;
	text-decoration: underline;
	font-weight: inherit;
}

.card__info--content .card__info--text{
	text-transform: uppercase;
	font-weight: 600;
	color: #ccc;
	position: absolute;
	top: -18px;
	left: 0;
	font-size: 12px;
}

.card__title{
	font-size: 32px;
	font-weight: 700;
	color: rgba(0, 0, 0, .3);
}

.card__about{
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.card__info--content .card__uslugi--title{
	font-weight: 600;
	font-size: 20px;
}

.card__uslugi--content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.card__uslugi--item{
	display: flex;
	align-items: center;
	gap: 8px;
}

.review__item{
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.review__item--text{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.review__item--name{
	font-weight: 600;
}

.review__content{
	max-height: 300px;
	overflow: hidden;
	overflow-y: auto;
}

.review__form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.review__form--input, .review__form--textarea{
	width: 100%;
	background: rgba(37, 37, 37, .05);
	padding: 10px 15px;
	border-radius: 8px;
}

.review__form--textarea{
	resize: none;
	height: 150px;
}

.review__form--code{
	width: 100%;
	display: flex;
	gap: 8px;
}

.review__form--send{
	border-radius: 8px;
	background: #D6D5D5;
	font-weight: 600;
	font-size: 14px;
	padding: 15px 30px;
}

.review__form--send:hover{
	background: #9f9c9c;
}

/* Адаптив */
@media(max-width: 1199.98px){
	.footer__copy--inner{
		justify-content: flex-end;
	}

	.footer__login--inner{
		justify-content: center;
		margin-top: 15px;
	}

	.header__bottom--link{
		padding: 0px 10px;
	}
}
@media(max-width: 991.98px){
	.notfound__suptitle{
		font-size: 60px;
	}
	
	.notfound__title{
		font-size: 40px;
	}
	
	.notfound__text{
		font-size: 20px;
	}

	.notfound__img{
		width: 100px;
	}

	.main__item--img--inner{
		height: 320px;
	}

	.footer__logo--inner, .footer__copy--inner{
		display: flex;
		justify-content: center;
	}

	.footer__copy--inner{
		margin-top: 15px;
	}

	.modal__city--inner{
		max-width: 670px;
	}

	.header__city--inner{
		display: none;
	}

	.menu__inner{
		display: flex;
	}

	.header__bottom--nav{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 150px;
	}

	.header__bottom--link, .header__bottom--link:first-child, .header__bottom--link:last-child{
		width: 100%;
		justify-content: space-between;
		border-right: none;
		padding: 5px 10px;
	}

	.header__bottom--link.top, .header__bottom--link.star{
		justify-content: flex-start;
	}

	.header__bottom--link img{
		transform: rotate(-90deg);
	}

	.header__bottom--content{
		position: relative;
		top: 0;
		background: none;
		padding: 0;
	}

	.mobile__city{
		display: block;
		padding: 20px 10px;
		background: #fff;
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
	}

	.header__bottom{
		width: 100%;
		padding: 0;
		transition: .3s ease-in-out;
		transform: translateX(-110%);
		opacity: 0;
		position: absolute;
		top: 85px;
		left: 0;
		z-index: 5;
	}

	.header__bottom.active{
		opacity: 1;
		transform: translateX(0);
	}

	.header__bottom--inner{
		padding: 8px 0;
	}

	.menu, .cross{
		display: none;
	}

	.cross.active, .menu.active{
		display: block;
	}

	.card__item--img--inner{
		height: 400px;
	}

	.card__item--button{
		width: 48%;
	}

	.card__info--content p{
		font-size: 16px;
	}
}
@media(max-width: 767.98px){
	.notfound__suptitle{
		font-size: 40px;
	}
	
	.notfound__title{
		font-size: 25px;
	}
	
	.notfound__text{
		font-size: 18px;
	}

	.notfound__img{
		width: 70px;
	}

	.main__item--img--inner{
		height: 320px;
	}

	.main__item--button{
		width: 100%;
	}

	.main__item--info{
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	.footer__copy--inner{
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.modal__city--inner{
		max-width: 90%;
	}

	.modal__city--link:nth-child(2){
		margin-top: 0.5rem;
	}

	.modal__city--inner{
		max-width: 90%;
	}

	.header__search--inner{
		display: none;
	}

	.mobile__search{
		width: 100%;
		display: flex;
		align-items: center;
		padding: 12px 10px;
		background: #fff;
		position: relative;
	}

	.header__search{
		padding: 8px 8px 8px 31px;
	}

	.header__search{
		border-bottom: none;
	}

	.card__map--map{
		height: 230px;
	}
}
@media(max-width: 575.98px){
	.mobile__margin{
		margin-top: 40px;
	}
}
@media(max-width: 500px){
	.modal__city--link{
		width: 100%;
	}
}
@media(max-width: 479.98px){
	.main__telegram{
		align-items: flex-start;
	}

	.main__item--name{
		font-size: 18px;
	}

	.footer__warn{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.card__item--button{
		width: 100%;
	}
}