:root{
	font-size: 10px;
}

@font-face{
    font-family: 'ProximaNova';
    font-weight: 300;
    src: url('../fonts/ProximaNovaLight.ttf');
}
@font-face{
    font-family: 'ProximaNova';
    font-weight: 400;
    src: url('../fonts/ProximaNovaRegular.ttf');
}
@font-face{
    font-family: 'ProximaNova';
    font-weight: 600;
    src: url('../fonts/ProximaNovaSemibold.ttf');
}
@font-face{
    font-family: 'ProximaNova';
    font-weight: 700;
    src: url('../fonts/ProximaNovaBold.ttf');
}
@font-face{
    font-family: 'ProximaNova';
    font-weight: 800;
    src: url('../fonts/ProximaNovaExtrabld.ttf');
}
@font-face{
    font-family: 'ProximaNova';
    font-weight: 900;
    src: url('../fonts/ProximaNovaBlack.ttf');
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
	background: #101010;
	font-family: 'ProximaNova', sans-serif;
}

.scroll, .scroll2{
	overflow: hidden;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 1.6rem;
	font-family: 'ProximaNova', sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input::placeholder{
	color: #787878;
}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.default__input--content{
	position: relative;
	width: 100%;
	max-width: 350px;
}

.default__input{
	width: 100%;
	padding: 1.4rem 2rem 1.4rem 6.3rem;
	border-radius: 10px;
}

.default__button{
	background: #8036E0;
	color: #fff;
}

.default__button:hover{
	background: #6128ac;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

/* Header */
.header{
	padding: 2rem 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: .2s linear;
}

.header:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(16, 16, 16, 0.84) -6.67%, rgba(16, 16, 16, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.header.down{
	background: #101010;
}

.header__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo{
	display: flex;
	width: 100px;
}

.header__logo--icon{
	width: 100%;
}

.header__contact{
	padding: 1.4rem 2.1rem;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 10px;
	font-weight: 700;
}

.header__contact:hover{
	background: #fff;
	color: #101010;
}

.header__input{
	background: #fff;
}

.header__nav{
	display: flex;
	align-items: center;
}

.header__nav li{
	margin-right: 1.5rem;
	position: relative;
	transition: .2s linear;
	border-radius: 5px;
}

.header__nav li:hover{
	background: #1C1C1C;
}

.header__nav li:last-child{
	margin-right: 0;
}

.header__nav li a{
	color: #fff;
	font-weight: 700;
	display: flex;
	align-items: center;
	padding: 0.8rem 1.3rem;
}

.header__nav--icon{
	margin-left: 0.5rem;
	transition: .2s linear;
}

.header__nav li a:hover .header__nav--icon{
	transform: rotate(-180deg);
}

.header__nav--drop{
	padding: 2rem 7.8rem 2rem 2rem;
	border-radius: 10px;
	background: #121213;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: .2s linear;
	display: flex;
	align-items: flex-start;
}

.header__nav li:hover .header__nav--drop{
	opacity: 1;
	pointer-events: all;
}

.header__nav--drop--item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 3rem;
	margin-right: 1rem;
	border-right: 1px solid #252525;
}

.header__nav--drop--item:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

.header__nav li a.header__nav--drop--link{
	color: #fff;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-weight: 400;
}

.header__nav li a.header__nav--drop--link.viewall{
	font-weight: 600;
}

.header__nav li a.header__nav--drop--link.viewall:hover{
	background: transparent;
}

.header__nav li a.header__nav--drop--link.viewall:hover .viewall__icon{
	transform: translateX(10px);
}

.viewall__icon{
	margin-left: 0.5rem;
	transition: .2s linear;
}

.header__nav--drop--link:hover{
	background: #252525;
}

.header__nav--drop--link:first-child{
	margin-top: 0;
}

.menu{
	display: none;
}

.header__logo--wrapper{
	display: flex;
	align-items: center;
}

/* Main */
.main{
	padding: 14.2rem 0rem 5.1rem 0;
	background: url("../img/main-bg.jpg") center no-repeat;
	background-size: cover;
}

.main__inner, .main__content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__content{
	max-width: 609px;
}

.main__suptitle{
	letter-spacing: 0.45em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.main__title{
	margin-top: 1.3rem;
	font-size: 6.4rem;
	font-weight: 700;
	color: #fff;
}

.main__text{
	color: #fff;
	font-size: 1.8rem;
	line-height: 150%;
	margin-top: 2rem;
	font-weight: 300;
}

.main__button{
	padding: 2.1rem 3.7rem;
	border-radius: 4px;
	background: #8036E0;
	color: #fff;
	letter-spacing: 0.03em;
	font-size: 1.8rem;
	font-weight: 700;
	margin-top: 4.2rem;
}

.main__button:hover{
	background: #6128ac;
}

.main__points{
	width: 100%;
	margin-top: 4.9rem;
	display: flex;
	align-items: flex-start;
}

.main__point{
	margin-right: 6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__point:last-child{
	margin-right: 0;
}

.main__point--title{
	color: #fff;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 150%;
}

.main__point--text{
	margin-top: -0.5rem;
	color: #ABABB3;
	line-height: 150%;
}

/* Tags */
.tags{
	padding: 1.5rem 0 1.7rem 0;
	background: #1C1C1C;
}

.tags__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tags__item{
	display: flex;
	align-items: center;
}

.tags__img{
	width: 137px;
	height: 90px;
	background: #D9D9D9;
	border-radius: 5px;
	margin-right: 1.5rem;
}

.tags__info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tags__link, .tags__name{
	font-size: 1.8rem;
	color: #018FF4;
	font-weight: 700;
}

.tags__name{
	color: #fff;
	margin-top: 0.3rem;
}

/* Content */
.content{
	padding: 12rem 0;
}

.content__inner, .content__block, .category__block{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.content__block{
	margin-top: 12rem;
}

.category__block{
	margin-top: 8rem;
}

.content__block:first-child, .category__block:first-child{
	margin-top: 0;
}

.content__block--title--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content__block--title{
	font-size: 4.2rem;
	font-weight: 700;
	color: #fff;
}

.content__block--arrows{
	display: flex;
	align-items: center;
}

.content__block--arrow{
	display: flex;
	align-items: center;
}

.arrow{
	cursor: pointer;
	margin-right: 0.5rem;
}

.arrow:last-child{
	margin-right: 0;
}

.content__block--seeall{
	font-size: 1.8rem;
	font-weight: 700;
	margin-right: 1.9rem;
	color: #018FF4;
}

.content__block--content{
	width: 100%;
	margin-top: 3rem;
}

.content__block--item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0rem 2rem;
}

.content__block--img--inner{
	width: 100%;
	display: flex;
	overflow: hidden;
	border-radius: 10px;
}

.content__block--img{
	width: 100%;
}

.content__block--item--title{
	margin-top: 1.5rem;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
}

.content__block--item--text{
	color: #787878;
	margin-top: 0.5rem;
	font-size: 1.2rem;
}

.content__block--item--wrapper{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.content__block--item--price{
	color: #fff;
	font-size: 1.4rem;
}

.content__block--item--hourse{
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.8rem;
}

.content__block--item--hourse--icon{
	margin-right: 0.5rem;
}

.slick-slide {
	margin: 0 20px;
}

.slick-list {
	margin: 0 -20px!important;
}

.news__block{
	width: 100%;
	margin-top: 12rem;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3, 1fr);
}

.news__item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.news__item--img--inner{
	width: 100%;
	overflow: hidden;
	display: flex;
	border-radius: 10px;
}

.news__item--img--inner:hover .news__item--img{
	transform: scale(1.1);
}

.news__item--img{
	width: 100%;
	transition: .2s linear;
}

.news__item--title{
	color: #fff;
	font-size: 1.8rem;
	margin-top: 2.5rem;
	font-weight: 700;
}

.news__item--text{
	color: #fff;
	margin-top: 1.5rem;
}

.content__block--category{
	border-radius: 10px;
	overflow: hidden;
	height: 145px!important;
	display: flex!important;
	align-items: center;
	justify-content: center;
	position: relative;
}

.content__block--category--img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.content__block--category--text{
	color: #fff;
	text-align: center;
	font-size: 2.4rem;
	font-weight: 700;
}

/* Footer */
.footer{
	padding: 7.6rem 0 10.4rem 0;
	background: #1C1C1C;
}

.footer__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__title{
	font-size: 6.4rem;
	font-weight: 700;
	color: #fff;
}

.footer__text{
	color: #fff;
	font-size: 1.8rem;
	margin-top: 0.5rem;
}

.footer__input--inner{
	width: 100%;
	display: flex;
	margin-top: 3rem;
}

.footer__input--content{
	margin-right: 1.5rem;
}

.footer__input{
	border: 1px solid #787878;
	color: #fff;
}

.footer__input--icon{
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	pointer-events: none;
}

.footer__input--button{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #8036E0;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	flex-shrink: 0;
}

.footer__input--button:hover{
	background: #6128ac;
}

.footer__private{
	font-size: 1.4rem;
	color: #ABABB3;
	margin-top: 1rem;
}

.footer__private a{
	text-decoration: underline;
	font-weight: 700;
	color: inherit;
	font-size: inherit;
}

.footer__wrapper{
	width: 100%;
	justify-content: space-between;
	margin-top: 5rem;
}

.footer__nav--inner, .footer__wrapper{
	display: flex;
	align-items: flex-start;
}

.footer__social--inner{
	display: flex;
	align-items: center;
}

.footer__social--link{
	display: flex;
	margin-right: 5rem;
	width: 19px;
	height: 19px;
	align-items: center;
	justify-content: center;
}

.footer__social--link:last-child{
	margin-right: 0;
}

.footer__social--icon{
	max-width: 100%;
	max-height: 100%;
}

.footer__nav--item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 14rem;
}

.footer__nav--item:last-child{
	margin-right: 0;
}

.footer__nav--title{
	color: #fff;
	font-size: 2rem;
	font-weight: 600;
}

.footer__nav--link{
	margin-top: 1.5rem;
	font-size: 1.8rem;
	color: rgba(255, 255, 255, .7);
}

.footer__nav--link:hover{
	color: #fff;
}

.footer__nav--link:nth-child(2){
	margin-top: 2rem;
}

/* Modal menu */
.modal__menu{
	padding: 2.5rem;
	background: #101010;
	width: 100%;
	max-width: 340px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	overflow-y: auto;
	transition: .3s ease-in-out;
	opacity: 0;
	transform: translateX(-110%);
	height: 100vh;
}

.modal__menu.active{
	opacity: 1;
	transform: translateX(0);
}

.modal__menu--content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.modal__menu--logo--inner{
	width: 100px;
	display: flex;
}

.modal__menu--wrapper{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal__menu--logo{
	width: 100%;
}

.cross{
	width: 40px;
	display: flex;
	cursor: pointer;
}

.modal__nav{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 4rem;
}

.modal__nav--link{
	color: #fff;
	margin-top: 4rem;
	font-size: 2.4rem;
	font-weight: 700;
}

.modal__nav--link:first-child{
	margin-top: 0;
}

.modal__subnav{
	width: 100%;
	padding-left: 2rem;
	margin-top: 3rem;
}

.modal__nav--sublink{
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: #ABABB3;
}

.modal__nav--sublink:hover{
	color: #fff;
}

.modal__nav--sublink:first-child{
	margin-top: 0;
}

/* About */
.about{
	padding: 15rem 0;
	background: url("../img/about-bg.jpg") center no-repeat;
	background-size: cover;
}

.about__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about__img--inner{
	width: 100%;
	display: flex;
}

.about__img{
	width: 100%;
}

.about__text--inner{
	width: 100%;
	max-width: 536px;
	flex-shrink: 0;
	margin-right: 6.4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about__title{
	color: #fff;
	font-size: 6.4rem;
	font-weight: 700;
}

.about__text{
	color: #fff;
	font-size: 1.8rem;
	margin-top: 2rem;
	line-height: 150%;
	max-width: 378px;
}

.blocks{
	padding: 12rem 0rem;
}

.blocks.m0{
	padding: 0rem 0rem 12rem 0;
}

.blocks__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blocks__title{
	font-size: 4.2rem;
	text-align: center;
	color: #fff;
	font-weight: 700;
}

.block{
	width: 100%;
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.block .block__text--inner{
	margin: 0 2rem 0 0;
}

.block.reverse .block__text--inner{
	margin: 0 0 0 2rem;
}

.block__text--inner{
	width: 100%;
	max-width: 426px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
}

.block__text--number{
	display: flex;
	align-items: center;
}

.block__text--num{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #018FF4;
	font-size: 1.8rem;
	font-weight: 700;
	color: #101010;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-right: 1rem;
}

.block__text--num--text{
	color: #018FF4;
	font-size: 1.8rem;
	font-weight: 700;
}

.block__text--title, .find__text--title, .block__text--text, .find__text--text{
	margin-top: 2rem;
	font-weight: 700;
	color: #fff;
	font-size: 4.2rem;
}

.find__text--title:first-child{
	margin-top: 0;
}

.block__text--text, .find__text--text{
	font-weight: 400;
	line-height: 150%;
	font-size: 1.8rem;
}

.block__img--inner{
	max-width: 100%;
	width: auto;
	display: flex;
}

.block__img{
	width: 100%;
}

.find__text--text{
	max-width: 384px;
}

.find{
	padding: 10.6rem 0;
	background: url("../img/find-bg.jpg") center no-repeat;
	background-size: cover;
}

.find__text--inner{
	width: 100%;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Card */
.card{
	padding: 17rem 0rem 14.3rem 0;
}

.card__inner{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.card__img--wrapper{
	width: 480px;
	flex-shrink: 0;
	margin-right: 8rem;
	border: 1px solid #363636;
	border-radius: 30px;
	padding: 2.3rem;
	position: sticky;
	top: 100px;
}

.card__content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__img{
	width: 100%;
	border-radius: 30px;
}

.card__name{
	color: #fff;
	margin-top: 3.2rem;
	font-size: 3rem;
	font-weight: 700;
}

.card__rate{
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.card__rate--text, .card__text{
	color: #ABABB3;
	font-size: 1.8rem;
}

.card__rate--icon{
	margin-right: 0.5rem;
}

.card__text{
	margin-top: 1rem;
	line-height: 150%;
}

.card__button{
	margin-top: 3rem;
	font-size: 2.4rem;
	font-weight: 700;
	width: 100%;
	border-radius: 15px;
	padding: 2.2rem;
}

.card__content--title{
	color: #fff;
	font-weight: 700;
	font-size: 4.2rem;
}

.card__content--subtitle{
	color: #fff;
	font-size: 2.6rem;
	margin-top: 4rem;
}

.card__content--text{
	color: #fff;
	margin-top: 2rem;
	font-size: 1.8rem;
	color: #787878;
}

.card__content--button{
	border-radius: 50px;
	padding: 2rem 4.2rem;
	margin-top: 3rem;
	font-size: 1.8rem;
	font-weight: 700;
}

.card__content--wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 8rem;
}

.card__work{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 4.2rem;
	justify-content: space-between;
}

.card__work--item{
	width: 31%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.card__work--item:before{
	content: "";
	display: block;
	width: 100%;
	height: 0;
	border: 1px dashed #363636;
	position: absolute;
	top: 25px;
	left: 50px;
}

.card__work--item:last-child:before{
	display: none;
}

.card__work--item--num{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #1C1C1C;
	border: 1px solid #363636;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-weight: 700;
}

.card__work--item--title{
	margin-top: 2rem;
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
}

.card__work--item--text{
	margin-top: 1rem;
	color: #787878;
}

.card__points{
	width: 100%;
	padding-bottom: 3rem;
	border-bottom: 1px solid #363636;
	display: flex;
}

.card__point{
	padding: 1rem 4rem 1rem 0;
	margin-right: 4rem;
	border-right: 1px solid #363636;
	display: flex;
	align-items: flex-start;
}

.card__point:last-child{
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.card__point--icon{
	margin-right: 0.5rem;
	position: relative;
	top: 4px;
}

.card__point--wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__point--title, .card__point--text{
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
}

.card__point--text{
	font-weight: 400;
	color: #787878;
	margin-top: 0.5rem;
}

/* Категория */
.category{
	padding: 11.5rem 0rem 12rem 0;
}

.category__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.bread__content{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bread__inner{
	display: flex;
	align-items: center;
}

.bread__link{
	color: #fff;
	text-decoration: underline;
	font-size: 1.4rem;
	margin-right: 1.5rem;
	line-height: 150%;
}

.bread__icon{
	margin-right: 1.5rem;
}

.bread__current{
	font-size: 1.4rem;
	color: #ABABB3;
	line-height: 150%;
}

.category__buttons{
	display: flex;
	align-items: center;
}

.filters__hidden{
	margin-right: 3rem;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 1.6rem 2.1rem;
	color: #fff;
}

.filters__hidden:hover{
	color: #101010;
	background: #fff;
}

.filters__clear{
	color: #fff;
}

.category__content{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 2.5rem;
}

.category__filters{
	width: 200px;
	flex-shrink: 0;
	margin-right: 4rem;
}

.category__box{
	width: calc(100% - 240px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.filter__item{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 4rem;
	margin-top: 4rem;
	border-bottom: 1px solid #252525;
}

.filter__item:nth-child(2){
	margin-top: 0;
}

.filter__item:last-child{
	padding-bottom: 0;
	border-bottom: none;
}

.filter__item--title{
	font-size: 1.8rem;
	color: #787878;
}

.filter__box{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
}

.checkbox{
	display: none;
}

.checkbox:checked + .filter__check--label:after{
	opacity: 1;
}

.filter__check--label{
	position: relative;
	padding-left: 3.5rem;
	font-size: 1.8rem;
	color: #fff;
	cursor: pointer;
}

.filter__check--label:before, .filter__check--label:after{
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #fff;
	position: absolute;
	top: -1.5px;
	left: 0;
}

.filter__check--label:after{
	opacity: 0;
	transition: .2s linear;
	background: url("../img/check.svg") center no-repeat;
	background-size: cover;
}

.filter__check{
	margin-top: 1.5rem;
}

.filter__check:first-child{
	margin-top: 0;
}

.content__block--wrap{
	width: 100%;
	margin-top: 3rem;
}

.filter__mobile{
	width: 100%;
	display: none;
	align-items: center;
	justify-content: space-between;
}

.filter__title{
	color: #fff;
	font-size: 2.8rem;
	font-weight: 700;
}

.filter__cross{
	cursor: pointer;
}

/* Request page */
.request{
	padding: 14.7rem 0 5.7rem 0;
}

.request__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.request__item{
	width: 100%;
	max-width: 920px;
	background: #1D1B1E;
	padding: 10rem 12rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 10px;
	margin-top: 3rem;
}

.request__item:first-child{
	margin-top: 0;
}

.request__title{
	color: #fff;
	font-weight: 700;
	font-size: 4.2rem;

}

.request__input--inner{
	width: 100%;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.request__input--inner.mt3{
	margin-top: 3rem;
}

.request__input--text{
	color: #fff;
	font-size: 1.8rem;
}

.request__input, .request__textarea{
	margin-top: 1rem;
	width: 100%;
	max-width: 385px;
	padding: 1.6rem;
	border-radius: 10px;
	border: 1px solid #ABABB3;
	color: #fff;
}

.request__textarea{
	resize: none;
	height: 110px;
}

.request__buttons{
	width: 100%;
	margin-top: 5rem;
	flex-wrap: wrap;
	display: flex;
}

.request__button{
	padding: 1.6rem;
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
	border: 1px solid #ABABB3;
	border-radius: 10px;
	margin-right: 2rem;
}

.request__button:hover{
	background: #fff;
	color: #101010;
}

.request__button:last-child{
	margin-right: 0;
}

.request__consult--button{
	margin-top: 5rem;
	padding: 1.5rem 4rem;
	border-radius: 10px;
	font-size: 1.8rem;
	font-weight: 700;
}

.request__checkbox--inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 4rem;
}

.request__checkbox--item{
	margin-top: 2rem;
}

.request__checkbox--item:first-child{
	margin-top: 0;
}

.selection, .selection__radio{
	display: none;
}

.request__checkbox--label:before{
	content: "";
	display: block;
	border-radius: 50px;
	width: 40px;
	height: 24px;
	position: absolute;
	background: #ABABB3;
	top: 0;
	left: 0;
	transition: .2s ease-in-out;
}

.request__checkbox--label:after{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: .2s ease-in-out;
}

.request__checkbox--label--radio:after{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #8036E0;
	position: absolute;
	top: 5px;
	left: 5px;
	transition: .2s ease-in-out;
	opacity: 0;
}

.request__checkbox--label--radio:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.selection__radio:checked + .request__checkbox--label--radio:after{
	opacity: 1;
}

.selection:checked + .request__checkbox--label:before{
	background: #8036E0;
}

.selection:checked + .request__checkbox--label:after{
	left: 18px;
}

.request__checkbox--label, .request__checkbox--label--radio{
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 6rem;
	min-height: 20px;
}

.request__checkbox--label--radio{
	padding-left: 4rem;
}

.request__checkbox--label--title{
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
}

.request__checkbox--label--text{
	color: #787878;
	font-size: 1.4rem;
	margin-top: 0.5rem;
}

.request__subtitle{
	font-size: 2.8rem;
	font-weight: 700;
	color: #fff;
}

.summary__inner{
	width: 100%;
	max-width: 320px;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.summary__item{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.summary__item:first-child{
	margin-top: 0;
}

.summary__item--title, .summary__item--text{
	color: #fff;
	font-size: 1.8rem;
}

.summary__item--text{
	font-weight: 700;
}

.payment__text{
	font-size: 1.2rem;
	margin-top: 2rem;
	color: #787878;
	max-width: 337px;
}

.payment__inputs{
	width: 100%;
	margin-top: 2rem;
	max-width: 385px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.payment__input--inner{
	width: 100%;
	position: relative;
	margin-top: 2rem;
}

.payment__input--inner:first-child{
	margin-top: 0;
}

.payment__input--inner.half{
	width: 48%;
}

.payment__input, .payment__select{
	width: 100%;
	padding: 1.6rem;
	border: 1px solid #fff;
	border-radius: 10px;
	font-weight: 600;
	color: #fff;
}

.payment__select{
	background: #1D1B1E;
	padding: 1.6rem 4.7rem 1.6rem 1.6rem;
}

.payment__input.cvc{
	padding: 1.6rem 5.2rem 1.6rem 1.6rem;
}

.payment__input.cardnumber{
	padding: 1.6rem 10.9rem 1.6rem 1.6rem;
}

.payment__input::placeholder{
	color: #fff;
}

.payment__cvc, .payment__cards{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	pointer-events: none;
}

.payment__cards{
	display: flex;
	align-items: center;
	right: 18px;
}

.payment__select--icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
}

/* Адаптив */
@media(max-width: 1420px){
	.container{
		max-width: 1180px;
	}

	.tags__item:last-child{
		display: none;
	}

	.footer__nav--item{
		margin-right: 10rem;
	}
}
@media(max-width: 1200px){
	.container{
		max-width: 978px;
	}

	.slick-slide {
		margin: 0 10px;
	}
	
	.slick-list {
		margin: 0 -10px!important;
	}

	.content__block, .news__block{
		margin-top: 10rem;
	}

	.content, .blocks{
		padding: 10rem 0;
	}

	.header__input--content{
		max-width: 200px;
	}

	.footer__nav--item{
		margin-right: 6rem;
	}

	.about__title{
		font-size: 4.8rem;
	}

	.about__text--inner{
		margin-right: 3rem;
		max-width: 440px;
	}

	.about{
		padding: 12rem 0;
	}

	.card__img--wrapper{
		width: 400px;
		margin-right: 3rem;
	}
	
	.card__point{
		margin-right: 2rem;
		padding: 1rem 2rem 1rem 0;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}

	.content__block--category--text{
		font-size: 2rem;
	}

	.content__block--category{
		height: 110px!important;
	}

	.news__block{
		grid-gap: 15px;
	}

	.news__item--title{
		font-size: 1.6rem;
	}

	.news__item--text{
		font-size: 1.4rem;
	}

	.content__block, .news__block{
		margin-top: 7rem;
	}

	.content, .blocks{
		padding: 7rem 0;
	}

	.header__nav, .tags{
		display: none;
	}

	.menu{
		display: block;
		cursor: pointer;
		margin-right: 3rem;
	}

	.footer__wrapper{
		flex-wrap: wrap;
	}

	.footer__social--inner{
		width: 100%;
		margin-top: 2rem;
	}

	.main{
		background-position-x: -160px;
	}

	.find{
		background-position-x: 0px;
		padding: 3rem 0;
	}

	.block__text--title, .find__text--title{
		font-size: 3.2rem;
	}

	.block__text--text, .find__text--text{
		font-size: 1.6rem;
	}

	.block__text--inner{
		max-width: 350px;
	}

	.block{
		margin-top: 5rem;
	}

	.about{
		padding: 13rem 0rem 2rem 0;
	}

	.blocks__title{
		font-size: 3.5rem;
	}

	.card__img--wrapper{
		padding: 1.5rem;
		width: 350px;
	}

	.card__name{
		margin-top: 2rem;
		font-size: 2.5rem;
	}

	.card__button{
		margin-top: 2rem;
		font-size: 1.8rem;
		padding: 1.2rem 2rem;
	}

	.card__content--title{
		font-size: 2.8rem;
	}

	.card__content--subtitle{
		font-size: 2.1rem;
		margin-top: 2rem;
	}

	.card__points{
		flex-direction: column;
		align-items: flex-start;
	}

	.card__point{
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #363636;
	}

	.card__points{
		padding-bottom: 0;
		border-bottom: none;
	}

	.card__work--item:before{
		display: none;
	}

	.card__work{
		flex-wrap: wrap;
	}

	.card__work--item{
		width: 100%;
		margin-top: 2.5rem;
	}

	.card__work--item:first-child{
		margin-top: 0;
	}

	.card{
		padding: 12rem 0;
	}

	.request__item{
		padding: 7rem 8rem;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 460px;
	}

	.content__block--item--title{
		font-size: 2rem;
	}

	.content__block--title{
		font-size: 3rem;
	}

	.content__block--content{
		margin-top: 1.5rem;
	}

	.news__block{
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	.news__block::-webkit-scrollbar{
		width: 0;
		height: 0;
	}

	.news__item{
		width: 80%;
		flex-shrink: 0;
		margin-right: 2rem;
	}

	.news__item:last-child{
		margin-right: 0;
	}

	.content{
		padding: 4rem 0;
	}

	.header__logo{
		display: none;
	}

	.menu{
		margin-right: 0;
	}

	.footer__nav--item{
		width: 50%;
		margin: 3rem 0 0 0;
	}

	.footer__nav--item:first-child, .footer__nav--item:nth-child(2){
		margin-top: 0;
	}

	.footer__nav--inner{
		flex-wrap: wrap;
	}

	.footer__title{
		font-size: 3.8rem;
	}

	.footer{
		padding: 5rem 0;
	}

	.footer__wrapper{
		margin-top: 3rem;
	}

	.news__item--title, .news__item--text{
		margin-top: 1rem;
	}

	.main__title{
		font-size: 4.5rem;
	}

	.main__point{
		margin-right: 3rem;
	}

	.main{
		background-position-x: -200px;
	}

	.modal__nav--link{
		font-size: 2rem;
		margin-top: 2rem;
	}

	.modal__subnav{
		margin-top: 1.5rem;
		padding-left: 1rem;
	}

	.modal__nav--sublink{
		margin-top: 1rem;
	}

	.about__inner, .about__text--inner{
		flex-direction: column;
		align-items: center;
	}

	.about__text--inner{
		margin: 0 0 3rem 0;
	}
	
	.about__title{
		font-size: 3rem;
		text-align: center;
	}

	.block{
		flex-direction: column;
		align-items: center;
	}

	.block .block__text--inner, .block.reverse .block__text--inner{
		margin: 2rem 0rem 0rem 0rem;
		max-width: 100%;
		order: 2;
	}

	.block__text--inner{
		align-items: center;
	}

	.block__text--title, .block__text--text{
		text-align: center;
	}

	.card__inner{
		flex-direction: column;
		align-items: center;
	}

	.card__img--wrapper{
		position: relative;
		top: 0;
		margin: 0rem 0rem 3rem 0;
	}

	.card{
		padding: 12rem 0 7rem 0;
	}

	.category__filters{
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		top: 0;
		left: 0;
		z-index: 101;
		background: #101010;
		padding: 3.5rem;
		opacity: 0;
		transform: translateX(-110%);
		transition: .3s ease-in-out;
	}

	.category__filters.active{
		opacity: 1;
		transform: translateX(0%);
	}

	.category__box{
		width: 100%;
	}

	.filters__clear{
		display: none;
	}

	.filters__hidden{
		margin-right: 0;
	}

	.category{
		padding: 10rem 0rem 6rem 0;
	}

	.category__block{
		margin-top: 4rem;
	}

	.content__block--wrap{
		margin-top: 1.5rem;
	}

	.filter__mobile{
		display: flex;
	}

	.filter__item:nth-child(2), .filter__item{
		margin-top: 2.5rem;
	}

	.request__item{
		padding: 4rem 3rem;
	}

	.request__title{
		font-size: 2.8rem;
	}

	.request__input--inner, .request__buttons, .request__checkbox--inner,
	.request__consult--button{
		margin-top: 3rem;
	}

	.request__button{
		margin-right: 1rem;
		padding: 1.2rem;
	}

	.request__checkbox--label--title{
		font-size: 1.6rem;
	}

	.request__checkbox--label:before{
		height: 20px;
		width: 38px;
	}

	.request__checkbox--label:after{
		height: 16px;
		width: 16px;
	}

	.request__checkbox--label{
		padding-left: 5rem;
	}

	.request__checkbox--label--radio{
		padding-left: 3.5rem;
	}

	.request__input{
		padding: 1.2rem 1.6rem;
	}

	.request{
		padding: 11rem 0rem 4rem 0;
	}

	.request__subtitle{
		font-size: 2.2rem;
	}
}
@media(max-width: 480px){
	.container{
		max-width: 90%;
	}

	.footer__nav--item{
		width: 100%;
	}

	.footer{
		padding: 3rem 0;
	}

	.footer__input--content{
		max-width: 235px;
	}

	.footer__title{
		font-size: 2.8rem;
	}

	.footer__text{
		font-size: 1.6rem;
	}

	.footer__nav--item:nth-child(2){
		margin-top: 3rem;
	}

	.content__block--title{
		font-size: 2.5rem;
	}

	.header__input--content{
		max-width: 150px;
	}

	.footer__input--icon{
		left: 15px;
	}

	.header__input{
		padding: 1.4rem 2rem 1.4rem 4.2rem;
	}

	.header__contact{
		font-size: 1.4rem;
		border: none;
		padding: 0;
	}

	.header__contact:hover{
		background: none;
		color: #fff;
	}

	.main__point--title{
		font-size: 3.2rem;
	}

	.main__point--text{
		font-size: 1.6rem;
	}

	.main__point{
		margin-right: 2rem;
		align-items: center;
	}

	.main__point--text{
		text-align: center;
	}

	.header{
		padding: 1.5rem 0;
	}

	.main{
		padding: 11.3rem 0rem 8.9rem 0;
	}

	.main__suptitle{
		text-align: center;
		font-size: 1.2rem;
	}

	.main__title{
		margin-top: 0.5rem;
		text-align: center;
		font-size: 2.8rem;
	}

	.main__text{
		margin-top: 1rem;
		font-size: 1.4rem;
		text-align: center;
	}

	.main__content{
		align-items: center;
	}

	.main__button{
		margin-top: 2rem;
	}

	.main{
		background-position-x: -325px;
	}

	.content__block--category--text{
		font-size: 1.6rem;
	}

	.content__block--item--hourse{
		font-size: 1.6rem;
	}

	.modal__nav{
		margin-top: 2.5rem;
	}

	.about{
		padding: 11rem 0rem 2rem 0;
	}

	.about__title, .blocks__title, .block__text--title, .find__text--title{
		font-size: 2.8rem;
	}

	.about__text, .block__text--text, .find__text--text{
		margin-top: 1rem;
		font-size: 1.4rem;
	}

	.content, .blocks{
		padding: 4rem 0;
	}

	.card__img--wrapper{
		width: 100%;
	}

	.card__work{
		margin-top: 3rem;
	}

	.card__content--wrapper{
		margin-top: 4rem;
	}

	.card{
		padding: 9.5rem 0rem 5rem 0;
	}

	.category__filters{
		padding: 2rem;
	}

	.request__item{
		padding: 2rem;
	}

	.request__title{
		font-size: 2.5rem;
	}

	.request__button{
		margin: 0.5rem 0.5rem 0.5rem 0;
	}

	.request__consult--button{
		font-size: 1.6rem;
	}

	.request__subtitle{
		font-size: 2rem;
	}
}